
</div>

<footer class="footer mt-auto py-3">
  
  <div class="row" style="width: 100%;">
    <div class="col-md-4">
      <a class="f-contact"  href="/contact" ><h5>İletişim</h5></a>
      <hr>
      <p><strong>Adres :</strong>Ahmet Çavuş Hayıtlı, Özdemir Apartmanı, Hayıtlı Mahallesi,
      Barış Caddesi, Saray Sk. No:10, 48200 Milas/Muğla </p>
      <p><strong>Tel :</strong>0252 .........</p>
      
<a href="https://www.facebook.com/milassarisicak" style="font-size: 32px;">
  <i class="fab fa-facebook"></i>

</a>
<a href="#" style="font-size: 32px; ">
  <i class="fab fa-instagram"></i>


</a>
      
      
      

    </div>
   
    <div class="col-md-4">
      <h5>Hizmetler</h5>
      <hr>
    
    </div>
    
    <div class="col-md-4">
      <a class="f-contact" href="/activities"><h5>Fotoğraf Galerisi</h5></a>
      <hr>
      <div class="row" style="margin: 15px">
        
        <a href="/images/Gallery/Kurumumuz/IMG_20200626_085408.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG_20200626_085408.jpg" class="rounded" width="100%" height="80px"
            style="object-fit:fill;" />
        </a>
        <a href="/images/Gallery/Kurumumuz/IMG_20200626_085608.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG_20200626_085608.jpg" class="rounded" width="100%" height="80px" style="object-fit:fill;" />
        </a>
        <a href="/images/Gallery/Kurumumuz/IMG_20200902_134216.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG_20200902_134216.jpg" class="rounded" width="100%" height="80px" style="object-fit:fill;" />
        </a>
      
        
      </div>

      <div class="row" style="margin: 15px">
      
        <a href="/images/Gallery/Kurumumuz/IMG-20200625-WA0003.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG-20200625-WA0003.jpg" class="rounded" width="100%" height="80px"
            style="object-fit:fill;" />
        </a>
        <a href="/images/Gallery/Kurumumuz/IMG_20200626_085505.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG_20200626_085505.jpg" class="rounded" width="100%" height="80px"
            style="object-fit:fill;" />
        </a>
        <a href="/images/Gallery/Kurumumuz/IMG-20200916-WA0003.jpg" data-toggle="lightbox" data-gallery="gallery"
          class="col-md-4">
          <img src="/images/Gallery/Kurumumuz/IMG-20200916-WA0003.jpg" class="rounded" width="100%" height="80px"
            style="object-fit:fill;" />
        </a>
      
      
      </div>
    </div>
  </div>
    
  
</footer>
  



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  

<script>
  $(document).on("click", '[data-toggle="lightbox"]', function (event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });

</script>




  



</body>

</html>
