<%- include("partials/header", {active:"about"}) -%> <%-
include("partials/sidenav") -%>
<div class="container">
  <div class="main">
    <h1>Bedensel Engelli Bireyler Destek Eğitim Programı</h1>
    <hr />

    <p>
      Eğitim, bireyin davranışlarında kendi yaşantısı yoluyla istenilen yönde
      değişim oluşturma sürecidir. Bireyin ihtiyaçlarının karşılanmasında
      birincil etken bireyin gereksinimi olan eğitimin sağlanabilmesidir. Her
      birey gibi özel eğitime ihtiyacı olan bireylerin de kendine özgü
      özellikleri, ilgi, yetenek ve öğrenme ihtiyaçları bulunmaktadır. Çağdaş
      eğitim anlayışı gereği, özel eğitime ihtiyacı olan bireylerin bu özellik
      ve ihtiyaç çeşitliliği dikkate alınarak “bireyi merkez alan” eğitim
      modeliyle öğrenimlerini sürdürmeleri en doğal haklarıdır.
    </p>

    <p>
      Bedensel engelli bireylerin genel özelliklerinin çok geniş bir yelpazede
      çeşitlilik göstermesi, yaşam kalitelerinin arttırılması ve belli bir
      düzeyde tutulması gereğinden hareketle Bedensel Engelli Bireyler Destek
      Eğitim Programına duyulan ihtiyacın önemi ortaya çıkmaktadır.
    </p>

    <p>
      Bedensel engelli bireylerin var olan kaba ve ince motor becerilerini
      artırmak, belirli bir düzeyde tutmak ve kullandığı tüm ortopedik araç ve
      gereçlerden en iyi şekilde yararlanmalarını sağlamak için eğitimin
      desenlenmesi gerekmektedir.
    </p>

    <p>
      Bedensel Engelli Bireyler Destek Eğitim Programı, özel eğitim hizmetleri
      kapsamında destek eğitim kurumlarına devam eden bedensel (spastik ve
      ortopedik) yetersizliği olan bireylerin verilen özel eğitim hizmetinden
      etkili bir biçimde ve en üst düzeyde yararlanmalarını sağlamak amacıyla
      ülkemizde bedensel yetersizliği olan bireylerin gelişim özellikleri
      dikkate alınarak aşağıda belirtilen ilgili mevzuat hükümlerine dayanılarak
      hazırlanmıştır.
    </p>

    <p>
      Bu programın hazırlanmasında 3797 sayılı Millî Eğitim Bakanlığının
      Teşkilat ve Görevleri Hakkında Kanun’un Ek 3. maddesi ile 24/07/2008
      tarihli ve 3793 sayılı Bazı Kanun ve Kanun Hükmünde Kararnamelerde
      Değişiklik Yapılmasına Dair Kanun’un 25. maddesi dayanak teşkil
      etmektedir.
    </p>
    <br />
    <img
      class="img-services"
      width="100%"
      ;
      src="/images/bedensel2.jpg"
      alt=""
    />
    <br />
    <br />
    <h3>ÖZÜR GRUBUNUN TANIMI VE ÖZELLİKLERİ</h3>
    <hr />
    <p>
      Doğum öncesi, doğum sırası ve doğum sonrası dönemde herhangi bir nedene
      bağlı olarak iskelet (kemik), kas ve sinir sistemindeki bozukluklar
      sonucu, bedensel yeteneklerini çeşitli derecelerde kaybeden, toplumsal
      yaşama uyum sağlama ve günlük yaşamdaki gereksinimlerini karşılamada
      güçlükleri olan, bu nedenlerle korunma, bakım, rehabilitasyon, danışmanlık
      ve destek hizmetlerine ihtiyaç duyan kişiye bedensel özürlü; bu duruma yol
      açan durumlara ise bedensel özür denir. Bedensel özürleri nedeni ile
      sağlıklı kişilerden farklılaşan ve eğitim hizmetlerinden gereğince
      yararlanamayan bu bireylerde bilişsel, psiko sosyal ve duyusal
      gereksinimlerin yanı sıra hareket ve fonksiyonel yeteneklerin
      geliştirilmesi de büyük önem taşımaktadır.
    </p>

    <p>
      Çeşitli nedenlerle kaba ve ince motor gelişim becerileri olumsuz yönde
      etkilenmiş bu kişilerin kendilerinden beklenen fonksiyonel hareket ve
      becerileri yerine getirmeleri değişik derecelerde kısıtlanmıştır. Bu
      duruma yol açabilecek ve sıklıkla karşılaşılan nedenler aşağıda kısaca
      tanımlanmıştır.
    </p>

    <br />

    <p>
      <strong>1. Serebral Palsi:</strong> SP (CP) şeklinde kısaltılmış olan bu
      hastalık grubu, gelişmekte olan beynin (gebeliğin başlangıcından ikinci
      yaşın sonuna dek) değişik nedenlerle zarar görmesi sonucu ortaya çıkan
      duyu, algı ve hareket bozukluğudur. Ortaya çıkan klinik tablonun ağırlığı,
      beynin zedelenme derecesine, hasarın yerine ve bireyin yaşına bağlıdır.
      Oluşan tablo ilerleyici değildir. Bu tablonun vücudun tamamını etkileyen
      şekli tetraparezi (kuadriparezi), daha çok bacakların etkilendiği şekli
      diparezi (dipleji), vücudun bir yarısının etkilenmesi hemiparezi, tek kol
      veya tek bacak etkilenmesi monoparezi olarak adlandırılır. Bu durum farklı
      şekillerde kendisini gösterir.
    </p>

    <ol>
      <li>
        <strong>Spastik Tip:</strong> Kasın istem dışı sertliğini ifade eden bu
        durum; hareketlerin yavaşlamasına, harekette kontrol güçlüğüne ve
        çeşitli hareket kayıplarına sebep olur.
      </li>

      <li>
        <strong>Atetoit Tip:</strong> Hareket ve pozisyonlara bağlı olarak
        kaslar bazen sert bazen de gevşektir. Hareketler istemsiz, yavaş ve
        sürüncemelidir.
      </li>

      <li>
        <strong>Ataksik Tip:</strong> Duruş, denge bozuklukları, hareketlerde
        titreme ve koordinasyon bozuklukları ile karakterizedir.
      </li>

      <li>
        <strong>Hipotonik Tip(Gevşek):</strong> Tüm vücut kaslarında yaygın
        gevşeklik söz konusudur.
      </li>

      <li>
        <strong>Karışık Tip:</strong> SP’nin farklı tiplerine ait özellikleri
        bir arada taşır. Çoğunlukla atetoid ve spastik tip birliktedir.
      </li>
    </ol>

    <p>
      <strong
        >2. Merkezi Sinir Sistemini Etkileyen Dejeneratif, Metabolik ve Genetik
        Kökenli Hastalıklar:</strong
      >Motor gelişim geriliğine bağlı hareket ve fonksiyon kayıplarına yol açar.
      (Down sendromu, Subakut sklerozan panensefalit, Joubert sendromu, Rett
      sendromu, Prader-Willi sendromu, Williams sendromu vb.)
    </p>

    <p>
      <strong>3. Mental Motor Retardasyon (MMR) (Mental Motor Gerilik):</strong>
      Zekâ, duyu, algı ve motor bozuklukların çeşitli oranlarda bir arada
      görüldüğü durumu ifade eden genel bir başlıktır.
    </p>

    <p>
      <strong>4. Doğuştan Kol Felci (Brakial Pleksus Yaralanması):</strong>
      Doğum sırasında kola giden sinirlerin zedelenmesine bağlı olarak ortaya
      çıkan, hareket ve duyuyu etkileyen felç tablosudur. Tek taraflıdır.
      Etkilenen kolda tamamen bir felç tablosu olabileceği gibi ağırlıklı olarak
      elde ya da omuz çevresindeki kasların zayıflığı ile de seyredebilir.
    </p>

    <p>
      <strong
        >5. Omurilik Kapanma Defektleri (Spina Bifida-Meningomyelosel):</strong
      >
      Omuriliğin ve omurilik sıvısının dışarıya doğru kese şeklinde fıtıklaştığı
      ve bacaklarda tek ya da çift taraflı değişen derecelerde felçlere neden
      olan bir hastalıktır. Bazı hastalarda beyin omurilik sıvısının dolaşımının
      beyin içinde kapalı kalması sonucu beyinde birikmesi ve buna bağlı başın
      büyüdüğü (hidrosefali) görülebilir. Hidrosefali beyin gelişimini ciddi
      olarak engelleyebilecek bir durumdur.
    </p>

    <p>
      <strong>6. Doğuştan Kas Hastalıkları:</strong> İskelet kaslarının
      yapısındaki bozulma ve buna bağlı ilerleyici kas güçsüzlüğü ile seyreden,
      doğumdan itibaren ortaya çıkan bir grup hastalıktır. Kas güçsüzlüğünün
      yanı sıra eklem sertlikleri, şekil bozuklukları ve ilerleyici sakatlık
      meydana gelebilir.
    </p>

    <p>
      <strong>7.Travmatik Nedenli Merkezi Sinir Sistemi Yaralanmaları:</strong>
      Çoğunlukla trafik kazası, yüksekten düşme, ateşli silah yaralanmaları gibi
      kazalar sonucunda oluşmakta ve sinir sisteminde geçici ya da kalıcı özre
      neden olmaktadır.
    </p>

    <p>
      <strong
        >8. Süreğen Hastalıklardan Kaynaklanan Motor Gelişim
        Gerilikleri:</strong
      >
      Doğuştan ya da sonradan oluşabilen, yaşam boyu devam eden ve /veya
      ilerleyici, ince ve kaba motor gelişim becerilerinde yetersizlik ortaya
      çıkaran durumları tanımlar (epilepsi, osteogenesis imperfekta ).
    </p>

    <h3>PROGRAMIN DÜZEYİ</h3>
    <hr />

    <p>
      Program, doğuştan veya sonradan herhangi bir nedenle, kaba ve/veya ince
      motor gelişim becerileri ve günlük yaşam aktiviteleri olumsuz etkilenmiş,
      bu nedenle fonksiyonel hareket yeteneği ve aktiviteleri kısıtlanmış her
      yaştaki bireylerin gelişimsel özellikleri dikkate alınarak hazırlanmıştır.
    </p>

    <h3>PROGRAMIN GENEL AMAÇLARI</h3>

    <p>Bu program ile bireylerin;</p>
    <ol>
      <li>Normal motor gelişim basamaklarındaki becerileri kazanmaları,</li>
      <li>
        Duruş (postür) ve hareket ile ilgili bozukluklarını en aza indirmeleri ,
      </li>
      <li>Kaba ve ince motor becerilerini geliştirmeleri,</li>
      <li>
        Günlük yaşam aktivitelerinde bağımsız hareket edebilme becerileri
        kazanmaları,
      </li>
      <li>Bacak ve kollarını fonksiyonel bir şekilde kullanmaları,</li>
      <li>
        Düzgün duruş ve hareket için gerekli duyu, algı, bilişsel ve motor
        bütünlüğünü sağlamaları,
      </li>
      <li>
        Transfer ve yer değiştirmeye ve ilerlemeye yönelik (ambulasyon )
        hareketlerini geliştirmeleri,
      </li>
      <li>
        Yardımcı cihaz, araç gereç ve ekipmanı kullanma becerisi geliştirmeleri,
      </li>
      <li>Gelişim basamaklarına uygun davranma becerisi geliştirmeleri,</li>
      <li>
        Hareket yeteneğinin yanı sıra bilişsel, duyusal, psikolojik ve sosyal
        bütünlüğü geliştirmeleri beklenmektedir.
      </li>
    </ol>

    <h3>PROGRAM İLE İLGİLİ AÇIKLAMALAR</h3>
    <hr />
    <ol>
      <li>
        Modüllerde yer alan kazanımlar, “Bedensel Engelli Bireyler Destek Eğitim
        Programı” nın genel amaçlarına ulaşmayı sağlayacak nitelikte
        belirlenmiştir.
      </li>

      <li>
        Bedensel engelli bireylerin tanılanmış bedensel yetersizliğine ek olarak
        başka bir yetersizliğinin olması halinde, (zihinsel, görme, işitme vb.)
        sahip olduğu ek yetersizlik alanındaki programlara ait modüllerden birey
        için uygun kazanımlar belirlenerek bireysel ve/veya grup eğitim
        programına dâhil edilmelidir.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Programı; bedensel engelli bireylerin
        toplumsal kaynaklardan diğer bireylerle birlikte eşit şartlarda
        yararlanmalarına olanak sağlamak amacıyla, uygulama aşamasında
        belirtilen amaca hizmet etmeli ve gerçek hayatla uyumlandırılarak
        yürütülmelidir. Uygulayıcı, modüllerin ihtiyaç duyulan aşamalarında
        bireyle birlikte sosyal yaşam alanlarında (oyun ve park alanları,
        çarşı-pazar, sinema-tiyatro salonları, toplu taşıma araçları.) mutlaka
        kazanılan becerilerin uygulamalı olarak gerçekleştirilmesini sağlayan
        eğitim faaliyetlerine yer vermelidir. Ayrıca bireyin ev ortamı mutlaka
        değerlendirilerek ev içindeki bağımsızlığını destekleyici ve artırıcı,
        aile ve engelli bireyin günlük yaşam aktivitelerini kolaylaştırıcı
        düzenlemelerin yapılması ve program ile elde edilen kazanımların ev
        ortamında da sürdürülmesi sağlanmalıdır.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Eğitim Programı’nı oluşturan modüller,
        bireylerin sahip olduğu yetersizlik alanlarına yönelik hazırlanmıştır.
        Modüller arasında gelişimsel basamaklara göre bir sıralama söz konusu
        olmasına rağmen modüller her zaman birbirinin ön koşulu değildir.
        Örneğin, “Emekleme ve Dizüstü” modülünü başaramayan bireyin gelişim
        özellikleri ve ihtiyaçları göz önünde bulundurulduğunda, daha sonraki
        “Ayakta Durma” modülüne geçmesi söz konusu olabilir. Yine bireyin
        ihtiyaçlarına göre aynı anda birden fazla modül programa dâhil
        edilebilir.
      </li>

      <li>
        Kazanımlardan ölçüt toplamının %50’sini gerçekleştirilebilen birey bir
        sonraki modüle geçebilir. Ancak bireyin alt modülde başaramadığı
        kazanımların; almakta olduğu yeni modül ile birlikte sürdürülmesi
        gerekir.
      </li>

      <li>
        Program modüllerinde yer alan kazanımların gerçekleşebilmesi için eğitim
        sürecinde modülde belirtilen gerekli araç gereç ve donanımlar
        sağlanmalıdır.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Eğitim Programı kapsamında destek
        eğitim hizmeti veren kurum;
        <ul>
          <li>Rehberlik ve Araştırma Merkezi,</li>
          <li>Bireyin devam ettiği örgün /yaygın eğitim kurumu,</li>
          <li>Birey eğer tedavi görüyorsa ilgili sağlık kuruluşu,</li>
          <li>Eğer çalışıyorsa işveren,</li>
          <li>Genel ve yerel yönetimler</li>
        </ul>

        ile gerek duyulduğu durumlarda iş birliği içinde çalışmalıdır.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Eğitim Programı’nda yer alan modüllerin
        uygulanması sırasında kazandırılması gereken fonksiyonel becerilerin
        bireysel farklılıklara göre adaptasyonu gereklidir. Programdaki
        ilerlemeler, fonksiyon ve hareket kayıplarının kişiden kişiye değişen
        oran ve özelliklerine göre düzenlenmelidir.
      </li>

      <li>
        Bedensel engelli çocuklarda motor, duyu, algı ve iletişim problemleri
        farklı seviyelerde ortaya çıkar ve rehabilitasyon yaklaşımlarına
        cevaplar da değişim gösterir. Bu programın, bedensel engelli bireylerin
        ihtiyaçları doğrultusunda ve belki de her ders saatinde değişmesi veya
        tekrar edilmesi gerekebilir. Örneğin; aşırı kas kasılmaları olan bir
        çocukta bu kasılmaların şiddeti günden güne farklılık göstereceğinden o
        gün içinde yapılacak uygulamalar da farklılık gösterebilecektir.
        Kazandırılması hedeflenen fonksiyonel beceriler, özrün şiddetine bağlı
        olarak değişeceğinden, her çocukta bireysel hedefler gündeme gelmekte ve
        hedeflere ulaşmak için gerekli zamanın kesin olarak bilinmesi mümkün
        olmamaktadır. Detaylı olarak yapılacak değerlendirmeyi izleyerek
        oluşturulacak program, bireysel hedefler göz önünde bulundurularak
        hazırlanmalıdır. Bireysel uygulamaların yanı sıra benzer özür grubunda
        ve fonksiyonel beceriler yönünden aynı düzeydeki bireyler gerekiyorsa
        grup eğitimine alınmalıdır.
      </li>

      <li>
        Bireylerle yapılacak çalışmalar sırasında verilen yönergelerin kısa, net
        ve anlaşılır olması, performansın artırılmasını sağlayacaktır.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Eğitim Programı dâhilinde verilecek
        sosyal ve kültürel faaliyetler; aile katılımını içeren, bireyin sosyal
        gelişimini sağlayan, toplumsal farkındalık yaratan, kültürel gelişimini
        destekleyen, toplum kaynaklarını engelli bireyin yararına kullanmayı
        sağlayan faaliyetler olmalıdır.
      </li>

      <li>
        Bedensel Engelli Bireyler Destek Eğitim Programı’nın uygulanmasından
        sorumlu personel ve kurum idaresinin uygun görmesi hâlinde kurum
        dışından danışma amacıyla destek almak alınacak ait uzman (üniversitenin
        ilgi bölüm/ana bilim dalından en az lisans düzeyinden mezun olan,
        alanında en az beş yıl tecrübe sahibi olan) istenebilir. Bu uzman, asla
        zorunlu personel statüsünde olmadığı için imza yetkisine sahip değildir.
        Destek alınacak uzman, engelli bireyle programın uygulanmasında yer
        almayacak; uygulayıcılara, kurum personeline ve/veya ailelere katkı
        sağlayacaktır.
      </li>

      <li>
        Bedensel engelli bireyler destek eğitim programı, genel amaçlara
        ulaşmayı sağlayacak çeşitli modüller ve bu modüllere yönelik
        kazanımlardan oluşmaktadır. Her bir modülde bireylerde ulaşılması
        beklenen kazanımlar, içerik, açıklamalar ve ölçme değerlendirme
        bölümleri yer almaktadır.
      </li>

      <li>
        Modüllere ayrılacak süreler modüllerde belirtilmekle birlikte, programın
        toplam süresi, bireyin yaşından bağımsız olarak motor performansındaki
        kazanımlara göre belirlenecek ve düzenli aralıklarla yapılacak
        değerlendirmeler ile bu süre şekillenecektir.
      </li>
    </ol>
  </div>
  <%- include("partials/footer") -%>

