<%- include("partials/header", {active:"contact"}) -%>
<div class="container">
  <h1>İletişim</h1>
  <hr />

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8 col-2" id="left">
        <br>
        <h2 class="d-none d-sm-block">Konumumuz</h2>
        <br>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.3846548972633!2d27.784352315365258!3d37.30971524655186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14befbb001f2f543%3A0x4fab1c7743f9b72b!2sMilas%20Sar%C4%B1%20S%C4%B1cak%20%C3%96zel%20E%C4%9Fitim%20Ve%20Rehabilitasyon%20Merkezi!5e0!3m2!1str!2str!4v1598192629751!5m2!1str!2str"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
          class="contact-nav"
        ></iframe>
      </div>
      <div class="col-12 col-lg-4 col-2" id="right">
        <br>
        <h2 class="d-none d-sm-block">İletişim Bilgilerimiz</h2>
          <p class="contact-p"><strong>Özel Sarı Sıcak Özel Eğitim Ve Rehabilitasyon Merkezi</strong></p> 
          
          <a href="/images/Gallery/Kurumumuz/f92.jpg" data-toggle="lightbox" data-gallery="gallery">
            <img src="/images/Gallery/Kurumumuz/f92.jpg" class="rounded" height="350px"
              style="object-fit:fill;" />
          </a>
          <p></p>
            <p class="contact-p"><strong>Adres:</strong> Ahmet Çavuş Hayıtlı Mahallesi, </p>
            <p class="contact-p">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Özdemir Apartmanı,</p> 
            <p class="contact-p"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Barış Caddesi, Saray Sk. No:10,</p>
            <p class="contact-p"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 48200 Milas/Muğla</p>
       
           <br>

          <p class="contact-p"><strong>Tel:</strong> 0252 512 66 62 </p>
          <p class="contact-p">&nbsp; &nbsp; &nbsp; &nbsp;0506 504 85 48</p> 
          <p class="contact-p">&nbsp; &nbsp; &nbsp; &nbsp;0505 891 68 14</p> 
          <br>
          <p class="contact-p"><strong>E-mail:</strong> milassarisicak@hotmail.com </p>
          
        </ul>
      </div>
    </div>
  </div>

  <%- include("partials/footer") -%>

