<%- include("partials/header", {active:"about"}) -%> <%-
include("partials/sidenav") -%>
<div class="container">
  <div class="main">
    <h1>İşitme Engelli Bireyler Destek Eğitim Programı</h1>
    <hr />
    <p>
      Doğuştan olan ya da yaşamın ilk yıllarında başlayan işitme kayıpları
      bireyin konuşmayı anlama, ana dilini edinme ve bilişsel becerilerinin
      gelişimi üzerinde olumsuz etkiler yaratmaktadır. İşitme engelli bireyler,
      dili edinebilme, sesli uyaranları normal ortamlarda algılayarak o
      uyaranlara uygun tepkide bulunabilme becerilerini geliştirebilmek için
      özel eğitime ihtiyaç duymaktadır.
    </p>
    <p>
      Günümüzde işitme kaybı tanısı birçok bireye küçük yaşlarda hatta doğumda
      konulabilmekte, işitme cihazları ile daha iyi işitmeleri
      sağlanabilmektedir. Bireyin özel eğitim, aile eğitimi ve destek eğitim ile
      konuşmayı algılaması ve konuşmayı öğrenmesi, bu yolla iletişim kurması,
      işitme kaybının derecesine ve sağlanan erken eğitim hizmetlerinin
      etkinliğine bağlı olarak çeşitli düzeylerde mümkün olabilmektedir.
    </p>
    <p>
      İşitme engelli bireyin eğitiminde kabul gören amaçlar, bireyin işitme
      cihazını uyanık olduğu tüm saatlerde kullanmasını sağlayarak işitme
      becerilerini geliştirmek, sesleri yorumlamayı öğretmek ve bu sürece
      ailenin katılımını sağlamakla ilgili olmalıdır. Bireyin işitme kaybı hafif
      veya orta derecede dahi olsa, eğer birey özel eğitim hizmetlerinden
      faydalanamıyor ise işitme yetersizliğinin yarattığı sonuçlar olumsuz yönde
      ilerleyecektir.
    </p>
    <p>
      Millî Eğitim Bakanlığına bağlı faaliyet gösteren özel eğitim ve
      rehabilitasyon merkezlerinde kullanılacak İşitme Engelliler Destek Eğitim
      Programı, bireyin hayat boyu kullanabileceği dinleme, konuşma, dil,
      iletişim, okuma yazma ve matematik becerilerini kazanmaları, bu becerileri
      kullanarak sosyal hayata etkin katılım sağlamaları amacıyla hazırlanmış
      bir programıdır.
    </p>

    <p>
      Programın hazırlanmasında 3797 sayılı Millî Eğitim Bakanlığının Teşkilat
      ve Görevleri Hakkında Kanun’un Ek 3. maddesi ile 24/07/2008 tarihli ve
      5793 sayılı Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik
      Yapılmasına Dair Kanun’un 25. maddesi dayanak teşkil etmektedir.
    </p>

    <img class="img-services" src="images/isitme3.jpg" width="100%" alt="" />
    <br />
    <br />

    <h3>ÖZÜR GRUBUNUN TANIMI VE ÖZELLİKLERİ</h3>
    <hr />
    <h4 style="text-decoration: underline">Tanımı</h4>

    <p>
      İşitme kaybı, doğuştan veya sonradan olan problemler nedeniyle işitme
      duyarlılığında meydana gelen azalmadır. İşitme engeli ise işitme
      duyarlılığındaki azalmanın bireyde ortaya çıkardığı yetersizlikler
      durumudur.
    </p>
    <h4 style="text-decoration: underline">Özellikleri</h4>
    <p>
      Birey, doğumdan başlayarak pek çok bilgiyi, işitmesini kullanarak öğrenir.
      Böylece işitme duyusu ile sürekli olarak çevresindeki diğer bireylerin
      konuşmalarını duymakta, bu sesler ile o anda oluşan olaylar arasında
      bağlantı kurmakta ve bu seslere anlam vermektedir. İşitme engelli birey
      ise, işitme yoksunluğu nedeniyle öğrenmeye en uygun yaşlarda, konuşma ve
      dili öğrenme fırsatını kaçırmakta ve hem anlama hem de konuşma
      becerilerinde sorunlar yaşamaktadır. Konuşma ve dil sorunlarına bağlı
      olarak da bilişsel, motor koordinasyon, duygusal-sosyal, eğitim-öğretim,
      mesleki ve toplumsal alanlarda da güçlük çekmektedirler.
    </p>

    <p>
      <strong>İşitme : </strong>İşitmenin gerçekleşebilmesi sesin olmasına,
      sesin kulağa ulaşmasına, o sesin insan kulağının alabileceği sınırlar
      içinde olmasına, sesin işitme yolu diye adlandırılan dış, orta ve iç kulak
      bölümlerini aşarak merkeze-beyne ulaşmasına, merkezde algılanmasına
      bağlıdır. İşitme engelli bireylerde bu yol tamamen veya kısmen yoktur.
      İşitme engelli bireyler, işitme cihazı kullansalar bile sesleri işitme
      cihazının izin verdiği frekans ve şiddette alabilmektedirler. Bu nedenle
      bazı konuşma seslerini duyamamakta, bazılarını karıştırmaktadırlar.
      Konuşanla arasındaki mesafeye, konuşanın sesinin şiddet, tını gibi
      özelliklerine, arka planda gürültü olup olmamasına bağlı olarak
      konuşulanları anlamada güçlük çekmektedirler.
    </p>
    <p>
      <strong>Dil ve Konuşma : </strong>İşitme engelli bireyler, işitme kaybının
      tipi, derecesi ve şekline bağlı olarak çok fazla ses hataları yaparlar. Bu
      da konuşmalarının anlaşılırlığını etkiler. Ses uyaranlarının olduğu
      ortamlarda işitme engelli bireylerin kendilerinden ve çevrelerinden
      sağladıkları işitsel girdiler ve geri iletimler işiten bireylere göre daha
      sınırlıdır. Bu durum onların ses uyaranlarından oluşan çevrelerini
      organize etme yeteneğini etkiler. İşitme engelli bireyler dilin anlam, ses
      bilgisi, biçim birim, söz dizimi bileşenlerini işiten bireyler gibi aynı
      sırada ve kurallar içinde ancak gecikmeli olarak edinirler. Dilin sosyal
      bağlamda belli bir amaca yönelik işlevi ve iletişim amacına uygun
      kullanımı ciddi olarak kısıtlıdır. Yetersiz işitme ve dil becerileri
      nedeniyle söylenileni yazmada; duygu ve düşüncelerini yazılı olarak ifade
      etmede güçlük çekmektedirler. Sözcük dağarcığının sınırlı olması, dil
      bilgisel yapıları kazanmada gecikmeler ve bilgi düzeyindeki yetersizlikler
      işitme engelli bireylerin okumayı öğrenme ve okuduğunu anlama güçlüğü
      yaşamalarına sebep olmaktadır. Ayrıca işitme engelli bireyler
      düşüncelerini düzenlemede ve düzgün bir sırada ifade etmede güçlük
      çekerler.
    </p>

    <p>
      <strong>Bilişsel : </strong>Doğumla beraber bilişsel gelişim sürecinde dil
      önemli bir yer tutmaktadır. İşitsel girdinin yetersizliği nedeniyle işitme
      engelli bireyler düşünme ve akıl yürütme, sınıflama ve ilişki kurma,
      açıklama becerilerinde güçlük çekerler. Soyut düşünme becerilerindeki
      yetersizlikler, sevgi, nefret, inanç, güç, hız, zaman gibi kavramları
      etkili bir biçimde kullanmalarını olumsuz yönde etkilemektedir.
      Entelektüel olgunluğa yaşıtlarından daha geç ulaşırlar ya da ulaşamazlar.
      Soyutlamaları sözel veya yazılı ifadelerinde kullanmada güçlük çekerler.
      Duyduklarını zihinlerinde canlandırmada zorlanırlar. İşitme engelli
      bireyler işitme kaybının tipi ve derecesine bağlı olarak, işitsel
      uyaranları aynı şekilde alamamaktadırlar. Bu da uzun süreli bellek ve
      işleyen bellek ile ilgili güçlükler yaşanmasına neden olmaktadır. İşitme
      engelli bireyler sözlü yönergeleri dinlemede, izlemede zorlanırlar.
      Dikkatleri çabuk dağılır. Çevrelerini anlayabilmek için daha fazla çaba
      göstermekte ve zihinsel olarak çabuk yorulmaktadırlar.
    </p>

    <p>
      <strong>Motor-Koordinasyon : </strong>İşitme engelli bireyler, oturma,
      yardımsız ayağa kalkma, yürüme gibi motor becerilerin kazanılmasında
      işiten bireylerin gelişim aşamalarını izlerler. Ancak motor gelişimde
      gözlenen en büyük problem genel vücut koordinasyonunun sağlanması ve
      dengeyi gerektiren hareketlerde görülmektedir. Bunun dışında görsel motor
      koordinasyon gerektiren bazı becerilerde de güçlük çekebilmektedirler.
    </p>

    <p>
      <strong>Duygusal-Sosyal</strong>İşitme engelli bireylerin işitme ve dil
      becerilerinin yetersiz olması kişiler arası iletişim kurmayı engellemekte
      ve sosyal yaşamla ilgili tutum ve rollerin öğrenilmesinde bazı güçlükler
      yaratmaktadır. İşitme engelli bireyler öğrenme ile ilgili becerilerde
      işiten yaşıtlarına göre daha çok desteğe ihtiyaç duymaktadırlar. Öğrenmeye
      ilişkin deneyimlerinde uğradıkları başarısızlık bireyde motivasyon
      eksikliği yaratmakta, bu durum da bireyin sosyal ilişkileri öğrenmesini ve
      akademik becerilerde başarılı olmasını olumsuz yönde etkilemektedir.
    </p>

    <h3>
      İşitme Engelli Bireyin Dil ve Konuşma Gelişimini Etkileyen Faktörler
    </h3>
    <hr />

    <ol type="a">
      <li>İşitme kaybı ile ilgili faktörler</li>
      <ul>
        <li>İşitme kaybının tipi</li>
        <li>İşitme kaybının derecesi</li>
        <li>İşitme kaybının şekli (konfigürasyonu)</li>
        <li>İşitme kaybının nedeni</li>
      </ul>

      <li>İşitme ile ilgili sunulan odyoloji hizmetlerine bağlı faktörler</li>
      <ul>
        <li>İşitme kaybının tanılandığı yaş</li>
        <li>İşitme cihazının kullanılmaya başlandığı yaş</li>
        <li>İşitme cihazının işitme kaybına uygunluğu ve ayarlanması</li>
        <li>İşitme cihazının tam gün sürekli kullanılması</li>
        <li>İşitme cihazının etkin kullanımı</li>
        <li>
          İşitme cihazının kullanıldığı eğitim ortamlarında akustik düzenlemenin
          yapılması
        </li>
        <li>
          İşitme cihazının ve işitme kaybının belirli aralıklarla odyolojik
          yönden değerlendirilmesi ve yeni teknolojik cihazların denenmesi
        </li>
      </ul>

      <li>Sunulan genel eğitim ve özel eğitim hizmetlerine bağlı faktörler</li>
      <ul>
        <li>
          Tanı ve cihazlandırma ile başlayan aile eğitimi ve danışmanlık
          hizmetleri
        </li>
        <li>Erken eğitim ile kritik dönemin değerlendirilmesi</li>
        <li>Yaşıtları ile birlikte oyun fırsatlarının sağlanması</li>
        <li>
          İşitme kaybına ve bireyin özelliklerine uygun düzeyde ve hızda gelişim
          sağlanıp sağlanmadığına ilişkin eğitsel değerlendirme
        </li>
        <li>
          Dil gelişimi ile birlikte bireyde bilişsel gelişim, kişilik gelişimi,
          duygusal gelişim, sosyal gelişim, fiziksel gelişim, akademik gelişim
          gibi tüm gelişim alanlarını hedefleyen bir okul öncesi eğitim,
          ilköğretim, lise eğitim hizmetleri
        </li>
        <li>
          İşitme engellilerin eğitimi programında yetişmiş uzman ve
          uygulayıcılar tarafından eğitim verilmesi
        </li>
        <li>Kullanılan iletişim yöntemi</li>
        <li>Uygun ve doğru eğitim yaklaşımlarının kullanılması</li>
        <li>
          Bu alanla ilgili uzmanlar arası iş birliğinin ve bilgi paylaşımının
          etkinliği
        </li>
        <li>
          Özel eğitim okulları ve normal okullar sistemi içinde bireyin
          gereksinimlerini hedef alan bireyselleştirilmiş eğitim programlarının
          yapılıyor olması
        </li>
      </ul>

      <li>Birey ile ilgili faktörler</li>
      <ul>
        <li>Bireyin yaşı</li>
        <li>Bireyin cinsiyeti</li>
        <li>
          Bireyin kişilik özellikleri: motivasyon, benlik saygısı vb. - Bireyin
          bilişsel düzeyi
        </li>
        <li>Öğrenme stili (işitsel, görsel, dokunsal vb.)</li>
        <li>Ek engelin olup olmaması</li>
      </ul>

      <li>Aile ile ilgili faktörler</li>
      <ul>
        <li>
          Ailenin çocuk yetiştirme tutumları - Ailenin engeli kabul düzeyi
        </li>
        <li>Ailenin iletişim tarzı</li>
        <li>Ailenin disiplin tarzı</li>
        <li>Ailenin sosyo-ekonomik düzeyi</li>
        <li>Ailenin eğitim ve kültürel düzeyi</li>
        <li>
          Ailenin bireyle ilgili eğitim planlamasına ne düzeyde katılabildiği
        </li>
        <li>Ailenin evde bireyle ilgili eğitimi ne düzeyde uygulayabildiği</li>
        <li>
          Ailenin bireye çevreyi ve dünyayı tanımasına yardımcı olabilecek
          nitelikli yaşantıları ne oranda sağlayabildiği
        </li>
        <li>Ailenin kendi yakın çevresinin engeli kabulü ve tutumları</li>
        <li>
          Bireyin yaşam ve çevre faktörleri kendisi için gerekli olan hizmetlere
          ulaşmasını sağlıyor olması
        </li>
        <li>Yasalarla sağlanan haklar, bu hakların kullanılabilirliği.</li>
      </ul>
    </ol>

    <h3>PROGRAMIN DÜZEYİ</h3>
    <hr />
    <p>
      Program uygun işitme cihazı kullanan, doğumdan itibaren her yaş grubundan
      işitme engelli bireylerin özellikleri ve gereksinimleri dikkate alınarak
      hazırlanmıştır.
    </p>

    <h3>PROGRAMIN GENEL AMAÇLARI</h3>
    <p>Bu program ile bireylerin;</p>
    <ul>
      <li>İşitme kalıntısını en üst düzeyde kullanmaları,</li>
      <li>
        İşitsel algı becerilerini kullanarak yaşıtları düzeyinde dil ve konuşma
        becerisi geliştirmeleri,
      </li>
      <li>İletişim becerilerini geliştirerek günlük yaşamda kullanmaları,</li>
      <li>Okuduğunu anlama ve okuma yazma becerilerini geliştirmeleri</li>
      <li>Temel matematik becerilerini kazanmaları</li>
      <li>Akıl yürütme becerilerini geliştirmeleri,</li>
    </ul>
    <p>beklenmektedir.</p>

    <h3>PROGRAM İLE İLGİLİ AÇIKLAMALAR</h3>
    <hr />

    <li>
      Modüllerde yer alan kazanımlar, işitme engeli olan bireylerin destek
      eğitim programında yer alan genel amaçlara ulaşmasını sağlayıcı nitelikte
      belirlenmiştir.
    </li>

    <li>
      Birey, ihtiyacına göre eş zamanlı olarak işitme engelliler programı
      içindeki birden fazla modülden yararlandırılabilir.
    </li>

    <li>
      İşitme engelli bireyin işitmenin yanında başka bir ya da birden fazla
      engeli olduğunda engelin özelliğine göre diğer destek eğitim
      programlarında yer alan uygun modüllerden de yararlandırılmalıdır.
    </li>

    <li>
      Programda yer alan modüller arasında bir aşamalılık ve birbirinin ön
      koşulu olma durumu söz konusu değildir.
    </li>
    <li>
      Program modüllerinde yer alan kazanımların gerçekleşebilmesi için öğrenme
      ve öğretme sürecinde modülde belirtilen gerekli araç-gereç ve donanımlar
      sağlanmalıdır.
    </li>

    <li>
      Bireyin eğitim planı doğrultusunda yapılacak çalışmalar ve bireyin
      özellikleri konusunda görüş alışverişi yapmak üzere hastanelerin ilgili
      bölümleri, rehberlik ve araştırma merkezleri, bireyin devam ettiği okul
      personeli (sınıf öğretmeni, rehber öğretmen, branş öğretmenleri, okul
      idarecileri vb.) ve ilgili diğer kurum, kuruluş ve uzmanlarla iş birliği
      yapılmalıdır. Bireyin destek eğitim sürecinin sonunda devam ettiği kurum
      tarafından hazırlanan gelişim raporunda bireyin kazanımlarının günlük
      yaşama geçişini ve kalıcılığını sağlayacak öneriler, bağlı olduğu
      rehberlik ve araştırma merkezinin yanı sıra bireyin ailesine 2828 sayılı
      yasa ile devlet koruması altında bulunan bireyin yasal vasi statüsünde
      olan kuruma, varsa devam ettiği okulun rehberlik ve psikolojik danışma
      servisine iletilmelidir.
    </li>

    <li>
      İşitme engelli bireylerin, kazandıkları becerileri günlük yaşamlarında
      kullanabilmeleri için sosyal faaliyetler planlanmalı, iletişimle ilgili
      konulara ağırlık verilmelidir.
    </li>

    <li>
      Program uygulanırken kazanımların öğretiminde basitten zora doğru bir sıra
      izlenmelidir. İşitme engelli birey eğitim süresince ara değerlendirmeler
      yapılarak gelişimi ve programın başarı düzeyi izlenmeli, gerekli tedbirler
      alınmalıdır.
    </li>

    <li>
      İşitme engelli bireyin bu programdan yararlanması için işitme kaybının
      tipi ve derecesine uygun cihaz kullanması gerekmektedir. Cihaz kullanmayan
      işitme engelli birey bu programdan yararlanamaz.
    </li>

    <li>
      İşitme engellilerin eğitimi akustik düzenlemesi yapılmış sınıflarda
      verilmelidir. Sınıf ortamında yardımcı destek cihazlar kullanımı
      sağlanmalıdır.
    </li>

    <li>
      İşitme engellilerin eğitiminin her aşamasında aile eğitimi önemlidir. Aile
      bireyin eğitimi konusunda neler yapabileceğini bilmeli, bireyle sağlıklı
      iletişim kurabilmeli ve aile, engelli bireyde sözel iletişim isteğini
      uyandırabilmelidir. Eğitim planlanırken aileye yönelik bilgilendirici ve
      uygulamalı çalışmalara da yer verilmelidir. Ailelerin eğitim sürecine
      etkin olarak katılımları sağlanmalıdır. Aile eğitimi verilirken; işitme
      engeli, gelişim özellikleri, işitme cihazları, koklear implant, cihaz
      bakımı ve kullanımı ile benzeri konularla ilgili bilgi verilmelidir.
      Ayrıca ailelerin ihtiyacına göre psikolojik destek, rehberlik ve
      danışmanlık hizmetleri verilmelidir.
    </li>
  </div>
  <%- include("partials/footer") -%>

