<%- include("partials/header", {active:"about"}) -%>
<div class="container">
  <h1>Misyonumuz</h1>
  <hr>
  <br>
  <p>
    Özel eğitim ve rehabilitasyon hizmetlerine ihtiyaç duyan bireylerin (dil ve
    konuşma, zihinsel, işitsel, görsel, fiziksel, sosyal ve duygusal yönlerden
    sınırlılıkları olan ve bu nedenle normal yaşamın gereklerine uyamama
    durumunda olan bireylerin) , fonksiyon kayıplarını gidermek ve toplum içinde
    kendi kendilerine yeterli olmalarını sağlayıcı beceriler kazandırmak.
  </p>
  <p>
    Eğitim ve rehabilitasyon çalışmalarını "disiplinler arası" bir anlayışla
    yapmak.
  </p>
  <p>
    Toplumumuzu "özel eğitim ve rehabilitasyon" konusunda daha bilinçli hale
    getirmek, erken tanı ve tedavi yollarını yaygınlaştırmak, aileleri
    bilgilendirmek ve yol göstermek.
  </p>
  <p>
    Kurumumuz uzman kadrosuyla, çağdaş bilimsel yöntemler doğrultusunda, ilgili
    kurum ve kuruluşlarla işbirliği içinde:
  </p>
  <p><i><strong>Özel eğitime gereksinimi olan bireylerimize;</strong></i></p>

  <ul class="vision-list">
    <li>Eğitim gereksinimlerini karşılayan</li>
    <li>
      Özellik ve yetenekleri doğrultusunda, yaşam becerilerini geliştiren,
    </li>
    <li>Üretken kişilik özelliği kazandıran,</li>
    <li>Toplumla bütünleşmelerini sağlayan,</li>
    </ul>
    <p><i><strong>Ailelerimize;</strong></i></p>
    <ul class="vision-list">
    <li>Rehberlik ve psikolojik danışma hizmetleri sunan,</li>
    <li>Eğitim sürecine aktif katılımlarını sağlayan,</li>
    <li>
      Duygusal ve sosyal destek yoluyla yaşam kalitesini arttıran, hizmetler
      sağlar.
    </li>
  </ul>

  <%- include("partials/footer") -%>

