<%- include("partials/header", {active:"about"}) -%> <%-
include("partials/sidenav") -%>
<div class="container">
  <div class="main">
    <h1>Özgül Öğrenme Güçlüğü Destek Eğitim Programı</h1>
    <hr />
    <p>
      Eğitim, bireyin davranışlarında kendi yaşantısı yoluyla istenilen önde
      değişim oluşturma sürecidir. Bireyin ihtiyaçlarının karşılanmasında
      birincil etken, bireyin gereksinimi olan eğitimin sağlanabilmesidir. Her
      birey gibi özel eğitime ihtiyacı olan bireylerin de kendilerine özgü
      özellikleri, ilgileri, yetenekleri, öğrenme ihtiyaçları ve hakları
      bulunmaktadır. Çağdaş eğitim anlayışı gereği, özel eğitime ihtiyacı olan
      bireylerin bu özellik ve ihtiyaç çeşitliliği dikkate alınarak “bireyi
      merkez alan” eğitim modeliyle öğrenimlerini sürdürmeleri en doğal
      haklarıdır.
    </p>
    <p>
      Özel öğrenme güçlüğü olan bireyler dili yazılı ya da sözlü anlama ve
      kullanabilme için gerekli olan bilgi alma süreçlerinin birinde veya
      birkaçında sorun yaşarlar. Özel öğrenme güçlüğünün bireyin dinleme,
      konuşma, okuma, yazma, heceleme, dikkat yoğunlaştırma, matematik, akıl
      yürütme, motor ve organizasyon becerilerini olumsuz etkileyen yapısal bir
      sorun olması nedeniyle, bu güçlüğü olan bireyler örgün eğitim
      programlarında zekâ düzeyine ve yaşıtlarına oranla düşük başarı
      göstermektedirler. Bu durum bireyin eğitimini, mesleğini, sosyal
      ilişkilerini, günlük aktivitelerini ve benlik saygısını olumsuz yönde
      etkiler. Özel öğrenme güçlüğü nedeni ile yaşanan sorunlarla baş
      edilebilmesi için özel eğitim ilke, yöntem ve tekniklerinin uygulanması
      gerekmektedir. Bu nedenle özel öğrenme güçlüğü olan bireylerin gelişim
      özellikleri ve özür dereceleri dikkate alınarak bilgiyi işlemleme,
      analitik düşünme, okuma-yazma ve matematikle ilgili temel becerilerinin
      geliştirilmesi amacı ile Millî Eğitim Bakanlığına bağlı faaliyet gösteren
      özel eğitim ve rehabilitasyon merkezlerinde uygulanmak üzere destek eğitim
      programı hazırlanmıştır.
    </p>
    <p>
      Programın hazırlanmasında 3797 sayılı Millî Eğitim Bakanlığının Teşkilat
      ve Görevleri Hakkında Kanun’un Ek 3. maddesi ile 24/07/2008 tarihli ve
      5793 sayılı Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik
      Yapılmasına Dair Kanun’un 25. maddesi dayanak teşkil etmektedir.
    </p>

    <img class="img-services" src="images/ogrenme.jpg" width="100%" alt="" />
    <br><br>

    <h3>ÖZÜR GRUBUNUN TANIMI VE ÖZELLİKLERİ</h3>
    <hr />
    <h5><strong>Tanımı</strong></h5>
    <p>
      Amerikan Psikiyatri Birliğinin (APA 2001) tanımına göre özel öğrenme
      güçlüğü zekâsı normal ya da normalin üstünde olan bireylerin, standart
      testlere göre yaş, zekâ düzeyi ve aldığı eğitim göz önünde
      bulundurulduğunda okuma, matematik ve yazılı anlatım düzeyinin beklenenin
      önemli ölçüde altında olmasıyla tanısı konulan bir bozukluktur. Okuma
      bozukluğu, yazılı anlatım bozukluğu, matematik bozukluğu ve başka türlü
      adlandırılamayan öğrenme bozukluğu alt gruplarını içerir. APA tarafından
      geliştirilmiş sınıflandırma sistemi olan DSM-IV’de (Diagnostic and
      Statistical Manual of Mental Disorders) “öğrenme bozuklukları” terimi
      kullanılmış, bu sorunun çocuk ruh sağlığı ve hastalıkları kapsamında ele
      alınması gerektiği belirtilmiş ve sağaltımın bir parçası olarak özel
      eğitim verilmesi gereği vurgulanmıştır.
    </p>
    <h5><strong>Özellikleri</strong></h5>
    <p>
      Özel öğrenme güçlüğü olan bireyler, öğrenmede çok önemli olan bilgiyi
      işleme sürecinin (bilginin alınması, düzenlenmesi, bellekte depolanması ve
      iletilmesi) bir kısmında ya da hepsinde sorun yaşayabilirler. Bilgiyi
      işleme süreci dört aşamadan oluşmaktadır.
    </p>

    <p>
      <strong>1. Girdi Aşaması:</strong> Bilginin duyu organları yolu ile
      beyinde algılanma sürecidir. Özel öğrenme güçlüğünde uyaranların görsel,
      işitsel, dokunsal, kinestetik (hareket) ve vestibüler (denge) açıdan
      algılanmasında sorun yaşanabilir.
    </p>

    <p>
      <strong>2. İşlemleme Aşaması:</strong> Beyne giden bilginin işlenmesi
      sürecidir ve üç aşamada tamamlanır. Bu aşamalar sıraya koyma, soyutlama ve
      organizasyondur. Özel öğrenme güçlüğünde bu aşamaların birinde ya da
      tümünde sorun yaşanabilir.
    </p>
    <p>
      <strong>3. Bellek-Depolama Aşaması:</strong> Gelen bilgi beyinde
      işlendikten sonra kullanılmak üzere bellekte depolanır. Özel öğrenme
      güçlüğünde kısa süreli, uzun süreli ve işleyen bellek ile ilgili sorun
      yaşanabilir.
    </p>
    <p>
      <strong>4. Çıktı Aşaması:</strong> Beynin bilgiyi mesaj olarak hücrelere,
      kaslara, dil ya da motor etkinlik alanlarına göndermesi sürecidir.
      Öğrenilen bilgiler konuşma, yazma, çizim, jest ve mimikler yolu ile ifade
      edilirler. Özel öğrenme güçlüğünde bu alanlardan birinde ya da birkaçında
      güçlük yaşanabilmektedir.
    </p>
    <p>
      Özel öğrenme güçlüğünde okul öncesi dönemden itibaren dil, algı, kavram,
      motor-koordinasyon, bellek, dikkat-konsantrasyon, sıralama, organizasyon,
      duygusal-sosyal alanlarda güçlükler görülebilmektedir.
    </p>

    <p>
      <strong>Dil Alanı:</strong> Özel öğrenme güçlüğünde hızlı verilen işitsel
      uyaranları işlemleme ve ayırt etmede sorun yaşanmaktadır. Bu durum okuma
      güçlüğü yaşanmasının nedenlerinden birini oluşturmaktadır. Özel öğrenme
      güçlüğü olan bireylerde konuşmanın gecikmesi, sözcük dağarcığının yaşa
      uygun olmaması dikkat çekicidir. Bu bireyler sözcük bulmada, bilinen
      objeleri, eylem sözcüklerini isimlendirmede, ses ya da hecelerin
      ardışıklığını (şeftali-feştali vb.) öğrenmede, sözcükleri doğru telaffuz
      (para-pala vb.) etmede, basit kafiyeli sözcükleri (taç-maç vb.) öğrenmede
      zorlanır. Hikâye anlatmaya veya dinlemeye ilgi duymaz. Sesler ile ses
      sembolleri arasındaki bağlantıları öğrenmesi yavaştır. Sözcüklerdeki
      benzeşen sesleri (kız-kıs, mal-nal, kar-gar vb.) algılayamaz. Bir sözcüğü
      seslerini ya da hecelerini (m-s-a, kel-i-me vb.) yanlış ayırır. Kısa bir
      süre önce öğrendiği bir sözcüğü tanıyamaz ya da okuduğu bir sözcüğü daha
      sonra gördüğünde tanımakta güçlük çeker. Yaşıtlarına oranla daha fazla
      okuma hatası yapar, okuma hızı düşüktür ve yüksek sesle okumaktan kaçınır.
      Bir metni okurken, satır, sözcük, hece, ses atlar, okuduğunu tekrar okur
      ve okuduğu yeri kaybeder. Okurken ya da yazarken bazı sesleri, (b-d-p,
      m-n, f-v vb.) karıştırır. Gördüğü ses sembolü, sayı ya da sözcükleri
      (15-51, 6-9, b-d, ve-ev, ne-en vb.) ters okur ve yazar. Yazarken
      sözcüklerdeki seslerin sırasını (elma-emla vb.) karıştırır. Bir yazılı
      metinde aynı sözcüğü farklı biçimlerde yazar. Yeni sözcükleri öğrenmede
      zorlanır. Dili hızlı bir şekilde işlemede (ne söylendiğini, ne istendiğini
      anlayamama gibi) sorun yaşar. Okuduğunu ve dinlediğini anlamada,
      düşüncelerini düzgün cümleler kurarak ve yazarak ifade etmede güçlük
      yaşaması nedeniyle okuma, yazma ve kompozisyon ödevlerini yapmada
      isteksizdir. Ders esnasında not tutma ve tahtada yazılanları vb. defterine
      geçirmede zorlanır.
    </p>

    <p>
      <strong>Algısal Alan:</strong> Özel öğrenme güçlüğü olan bireyde
      eşleştirme (benzerlik, farklılık), sınıflandırma (boyut, renk ve
      şekillerine göre objeleri sınıflama) ve sıralama (büyükten küçüğe sıralama
      vb.), sözel yönergeleri karıştırma, uyaranları sınıflandırma,
      gruplandırma, sıralama, mekanı algılama güçlükleri ile yön karıştırma
      (kitabı ters tutma, ayakkabıları ters giyme) güçlükleri vardır.
    </p>
    <p>
      Özel öğrenme güçlüğü olan bireylerde görsel ve işitsel algı sorunları
      (ayrımlaştırma, figür- zemin, hafıza alanlarında), dokunsal algı sorunları
      (dokunarak ayrımlaştırma ve tanımada güçlük çekme) ve kinestetik algı
      sorunları (dans, ip atlama gibi aktivitelerde zorlanma, mekânsal algı
      güçlükleri, mekânda yönelme, pozisyonu algılamada zorluk çekme, yön
      bulmakta zorlanma) görülmektedir.
    </p>

    <p>
      <strong>Kavramsal Alan:</strong> Özel öğrenme güçlüğünde görsel uyaranları
      işlemleme ve ayırt etmede sorun yaşandığından ses sembolü, renk, sayı ve
      geometrik şekilleri öğrenme ve ayırt etme güçleşmektedir. Bu güçlüğe sahip
      bireyler, zaman, mekân ve yön kavramlarını öğrenmede yaşına uygun oyunları
      anlamada zorlanırlar. Akıl yürütme ve sorun çözmede güçlük çeker, yeni
      becerileri yavaş öğrenirler. Basit matematik işlemleri yaparken kâğıt ve
      kaleme ya da parmak hesabına gereksinim duyar, sayıların ardışıklığını,
      matematik sembollerini (+, x gibi) karıştırırlar. Çarpım tablosunu
      öğrenmede, matematik terimlerini ve kavramlarını anlamada, sınıf ve yaş
      düzeyine uygun matematik problemlerini çözmede zorlanırlar.
    </p>
    <p>
      <strong>Motor-Koordinasyon Alanı:</strong> Özel öğrenme güçlüğünde okuma
      yazma gibi becerilerin yanı sıra ince motor beceriler, denge ve
      motor-koordinasyonla ilgili çeşitli sorunlar görülmektedir. Özel öğrenme
      güçlüğü olan bireyler tekrarlandıkça otomatikleşmesi öngörülen motor
      becerilerde sorun yaşarlar. El tercihinde gecikir (sağ ve sol eli karışık
      kullanmak), yap boz, küpler, lego gibi oyuncaklarla oynamada zorlanırlar.
      Kalemi hatalı tutar, şekillerin çizimine yanlış yönden başlar, geometrik
      şekillerin çiziminde (modelden bakarak doğru kopya etme) güçlük yaşarlar.
    </p>
    <p>
      İnce motor becerilerin yanı sıra kaba motor becerilerde ve koordinasyonda
      (ritmik hareket etmek, el çırpmak, merdiven inip-çıkmak, sek sek oynamak,
      zıplamak, top atmak- yakalamak, ip atlamak ve bisiklet sürmek vb.)
      sorunlar yaşarlar. Bu bireylerin kazaya yatkın ve sakar (takılmak,
      sendelemek, düşmek, devirmek, düşürmek vb.) oluşları dikkat çekicidir. El
      yazıları bozuktur. Sağ ve solu karıştırırlar. Ayakkabı, kravat bağlamada,
      daha küçük yaşlarda düğme iliklemede ve yardımsız giyinmede zorlanırlar.
      Ardışık hareketler gerektiren takım sporlarında başarısızdırlar.
    </p>

    <p>
      <strong>Bellek Alanı:</strong> Gelen bilgi beyinde kaydedilir, anlaşılır,
      yorumlanır ve daha sonra kullanılmak üzere bellekte kullanılır. Özel
      öğrenme güçlüğünde kısa süreli, uzun süreli ve işleyen bellek ile ilgili
      güçlükler yaşanır. Özel öğrenme güçlüğü olan birey; şiirleri, şarkıları,
      çevresindeki kişilerin isimlerini, işittiklerini, gördüklerini ve bunların
      sırasını, sürekli tekrarlanan işleri yapmayı hatırlamada güçlük çeker
      (yemekten önce elini yıkamayı unutma, günler, aylar, sayılar ve alfabenin
      ardışıklığını hatırlayamama gibi). Yeni öğrendiği bilgiyi hatırlamada ve
      sırasıyla anlatmada zorlanır. Okul araç-gereçlerini sıkça kaybeder ya da
      okulda unutur.
    </p>

    <p>
      <strong>Dikkat-Konsantrasyon Alanı:</strong> Dikkat dağınıklığı algıda
      bozukluğa neden olabilir ya da algı bozuksa dikkat dağılabilir. Bireyin
      algıladığı uyarıcıya tepki göstermesi için dikkatini ona yöneltebilmesi
      gerekir. Özel öğrenme güçlüğü olan bireyler sözlü yönergeleri dinlemede,
      izlemede zorlanır. Dikkatini bir noktaya odaklamakta güçlük çeker, dikkat
      süresi kısadır. Okurken, yazarken de dikkat problemi yaşar.
    </p>
    <p>
      <strong>Sıralama-Organizasyon Alanı:</strong> Özel öğrenme güçlüğü olan
      birey haftanın günlerini, ayların, mevsimlerin, sayıların, alfabenin harf
      sırasını karıştırır. Ayrıca belirli bir sıra içinde yapılması ya da
      bilinmesi gereken şeylerin sırasını karıştırır, dinlediği, okuduğu bir
      öyküyü anlatması istendiğinde öykünün başını sonunu karıştırır, sözlü ya
      da yazılı olarak düşüncelerini sırayla ifade etmekte güçlük çeker, sıralı
      çizimlerde ardışıklığı sürdüremez.
    </p>
    <p>
      Özel öğrenme güçlüğü olan birey, her zaman yaptığı işleri yerine
      getirmede, bir işe başlamada ve bitirmede zorlanır. Araç-gereçlerini
      temiz, düzenli bir şekilde korumada, ödevlerini ve projelerini planlamada,
      yaptığı işleri kontrol etmede güçlük çeker. Düşüncelerini düzenlemede ve
      düzgün bir sırada ifade etmede de zorlanır. Bu bireyler verimli ders
      çalışma konusunda akranlarına oranla daha fazla sıkıntı yaşayabilirler,
      davranabilir, arkadaş edinmede güçlüğü olabilir. Arkadaşları tarafından
      kolay yönlendirilebilir. Jest ve mimikleri anlamada güçlük yaşadığından
      (kızgınlık ifadesini anlayamamak vb.) iletişimde, duygularının kontrolünde
      zorlanır, aşırı tepki gösterebilir, düşünmeden harekete geçebilir.
      Değişikliklere zor uyum sağlar. Duygulanımları sık değişir, benlik saygısı
      düşüktür ve kendisine güveni azdır. Öğrenmeyle ilgili çok sayıda travmatik
      yaşantıları vardır. Enuresis, enkopresis, karın ağrısı, okul reddi,
      okuldan kaçma gibi sekonder davranış bozuklukları görülür.
    </p>
    <p>
      Özel öğrenme güçlüğü olan bireyler öğrenme için gerekli olan bilişsel
      strateji geliştirebilme güçlüğü yaşayabilirler. Akademik alanlarda
      yetersizlikleri vardır. Ancak bu bireyler tüm belirtileri taşımayabilir
      ve/veya bu belirtileri farklı yoğunlukta gösterebilirler.
    </p>

    <p>
      <strong>Güçlü Oldukları Alanlar:</strong> Özel öğrenme güçlüğü olan
      bireylerin akademik becerileri aynı yaş ve zekâ seviyesindeki
      akranlarından daha düşük bir düzeyde olmasına rağmen güçlü, yetenekli
      oldukları alanlar da bulunmaktadır. Bu bireyler meraklı ve çevrelerine
      karşı ilgili olabilir, ilgi duydukları alanlarda daha kolay
      kavrayabilirler. Sözcükler yerine resimlerle düşünebilirler. Sezgisel
      yolla problem çözme becerileri ve hayal güçleri gelişmiş olabilir.
      Yaratıcıdırlar. Pratik çözüm yolları bulabilirler. Bir matematik sorusunu
      kâğıt kalem kullanmadan zihinden çözebilirler. Bir makineyi kılavuzu
      okuyup çalıştırmak yerine bir bakışta anlayıp çalıştırabilir ve icatlar
      yapabilirler.
    </p>
    <h3>PROGRAMIN DÜZEYİ</h3>
    <hr />
    <p>
      Program, zekâsı normal ya da normalin üstünde olmasına rağmen okuma-yazma
      veya matematik becerilerde yaşıtlarına ve zekâsına oranla düşük başarı
      gösteren özel öğrenme güçlüğü olan her yaştaki bireyin genel özellikleri
      dikkate alınarak gelişimsel yaklaşımla hazırlanmıştır.
    </p>

    <h3>PROGRAMIN GENEL AMAÇLARI</h3>
    <p>Program ile bireylerin;</p>
    <ol>
      <li>Öğrenmeye hazırlık becerilerini geliştirmeleri,</li>
      <li>
        Okuma-yazmaya hazırlık ve okuma-yazma temel becerilerini geliştirmeleri,
      </li>
      <li>
        Matematikle ilgili temel beceri ve kavramları günlük yaşamda
        kullanmaları,
      </li>
      <li>
        Sorun çözme, akıl yürütme, kıyas yapabilme ve analitik düşünme
        becerilerini geliştirmeleri beklenmektedir.
      </li>
    </ol>

    <h3>PROGRAM İLE İLGİLİ AÇIKLAMALAR</h3>
    <ol>
      <li>
        Modüllerde yer alan kazanımlar, özel öğrenme güçlüğü olan bireylerin
        destek eğitim programında yer alan genel amaçlara ulaşmasını sağlayıcı
        nitelikte belirlenmiştir.
      </li>

      <li>
        Programı oluşturan modüller ve kazanımlar bireylerin yaşadığı güçlükler
        göz önünde bulundurularak hazırlanmıştır. Bireyin ihtiyaçlarına göre
        aynı anda birden fazla modülden kazanımlar bireysel eğitim programına
        dâhil edilebilir.
      </li>

      <li>
        Programda yer alan modüller arasında bir aşamalılık ve birbirinin ön
        koşulu olma durumu söz konusu değildir. Modüller arasındaki geçişler,
        birey için önerilen modülde yer alan kazanımlardaki yeterlilik düzeyi
        bireysel gelişim raporu da dikkate alınarak yapılır.
      </li>

      <li>
        Programın modüllerinde yer alan kazanımların gerçekleşebilmesi için
        öğrenme ve öğretme sürecinde modülde belirtilen gerekli araç-gereç ve
        donanımlar sağlanmalıdır.
      </li>

      <li>
        Özel öğrenme güçlüğü olan bireylerin başka bir yetersizliği olması
        hâlinde, sahip olduğu diğer yetersizlik alanına ait programlardan birey
        için uygun olan modüller belirlenerek bireysel eğitim programına dâhil
        edilmelidir.
      </li>

      <li>
        Bireyin eğitim planı doğrultusunda bağlı olduğu rehberlik ve araştırma
        merkezi, varsa devam ettiği okul ya da kurum ve diğer ilgili
        kuruluşlarla iş birliği yapılmalıdır. Bireyin eğitim planı, yapılacak
        çalışmalar, öneriler konusunda varsa devam ettiği kurum/okul personeli
        (sınıf öğretmeni, rehber öğretmen, özel eğitim öğretmeni, branş
        öğretmeni, kurum psikoloğu, okul öncesi öğretmeni vb.) ile görüş
        alışverişi yapılarak bireyin gelişimi desteklenmelidir. Bireyin destek
        eğitim sürecinin sonunda devam ettiği kurum tarafından hazırlanan
        gelişim raporu ve ekinde birey kazanımlarının günlük yaşama geçişini ve
        kalıcılığını sağlayacak öneriler, bağlı olduğu rehberlik ve araştırma
        merkezinin yanı sıra bireyin ailesine, 2828 sayılı yasa ile devlet
        koruması altında bulunan bireyin yasal vasi statüsünde olan kuruma,
        varsa devam ettiği okulun rehberlik ve psikolojik danışma servisine
        iletilmelidir.
      </li>

      <li>
        Özel öğrenme güçlüğü olan bireye, yaşadığı güçlüklerin zekâsı ile ilgili
        bir problem olmadığı, farklı öğrendiği, öğrenme için daha fazla zaman
        ayırması ve çaba göstermesi gerektiği uygun bir dille anlatılmalıdır. Bu
        şekilde birey eğitim sürecinde belirlenen hedeflere ulaşmak için etkin
        katılım gösterecektir.
      </li>

      <li>
        Destek eğitim alan bireyin eğitim sürecinde edindiği kazanımların sosyal
        yaşama geçişinin ve yaşantı zenginliğinin sağlanması için çevresi ile
        iletişimde bulunacağı oyun, drama, tiyatro, gezi, spor vb. etkinliklere
        bireysel eğitim programı içinde yer verilmelidir.
      </li>

      <li>
        Özel öğrenme güçlüğü yaşayan bireylerle çalışılırken verilen yönergeler
        açık ve anlaşılır biçimde olmalı, etkinlik süresince bireyin yönergeye
        uygun davranmasına yönelik gerekli destek sağlanmalıdır. Kurallar ve
        beklentiler net ve açık bir şekilde oluşturulmalıdır. Kurallar
        oluşturulurken olumlu ifadeler kullanılmalıdır. Ayrıca kurallar sık sık
        hatırlatılmalıdır. Kuralların bozulması durumunda karşılaşılabilecek
        sonuçlar ifade edilmelidir.
      </li>

      <li>
        Özel öğrenme güçlüğü olan bireyler için öğrenimleri sırasında belirlenen
        hedeflere ulaşmaları ve başarı duygusunu yaşamaları önemlidir.
        Etkinlikler, eğitim araç ve gereçleri bireyin gelişim özelliğine ve
        ilgisine uygun olarak kolaydan zora, resimden yazıya doğru
        hazırlanmalıdır. Etkinliklere başlarken bireyin dikkatini toplamaya
        yönelik giriş yapılmalıdır. Eğitim sırasında hangi konuların işleneceği
        bireye açıklanmalı, etkinlikler arasında kısa molalar verilecek şekilde
        plan yapılmalıdır. Bireylerin olumlu davranışları pekiştirilmeli,
        motivasyonlarını ve ilgilerini desteklemek amacıyla yaş ve düzeylerine
        uygun pekiştireçler verilmelidir. Etkinliklerin süresi bireyin
        özellikleri dikkate alınarak ayarlanmalıdır.
      </li>

      <li>
        Etkinlik süresince bireyin herhangi bir tepki vermeden önce düşünmesi
        sağlanmalı, bireyin kendisinin kullanabileceği stratejiler geliştirerek
        kendine yeterli ve bağımsız çalışabilmesi desteklenmelidir. Örneğin;
        okuduğunu anlamayı artırmak için kendi kendini sorgulama tekniği bireye
        öğretilebilir. Bunun için bireyin kendisine “Bu metne neden
        çalışıyorum?”, “Metnin ana fikri ne?” gibi sorular sorarak nasıl daha
        fazla bilgi edinebileceğini araştırması sağlanabilir. Ayrıca bireylerin
        kendi hatalarını kendilerinin bulmasına olanak verilmelidir.
      </li>

      <li>
        Programı uygulayan personel tarafından destek eğitim programı kapsamında
        uzman desteği alınabilir. Gerektiğinde psikiyatrist, dil ve konuşma
        terapisti, fizyoterapist ve aile terapisti ile işbirliği yapılabilir.
      </li>
    </ol>
  </div>

  <%- include("partials/footer") -%>

