<%- include("partials/header", {active:"about"}) -%>
<div class="container">
  <h1>Vizyonumuz</h1>
  <hr />
  <br />
  <h4>
    <strong>"Eğitimde feda edilecek fert yoktur" ilkesinden hareketle;</strong>
  </h4>
  <br />
  <ul class="vision-list">
    <li>Topluma, farklılığın zenginlik olduğu bilincini kazandırmak,</li>
    <li>Toplumdaki diğer bireylerle sosyal bütünleşmeyi sağlamak,</li>
    <li>
      Özel eğitim alanı ile ilgili ulusal ve uluslararası çalışmaları takip
      etmek, örnek projeler üretmek, özel eğitim ve rehabilitasyon alanında;
      <strong>BAŞARILI</strong>, <strong>ÖRNEK</strong> ve
      <strong>LİDER</strong> bir kurum olmak.
    </li>
    <li>
      Bilgiyi, beceriyi, teknolojiyi ve sevgiyi birleştirerek; en iyi hizmeti
      sunmak.
    </li>
    <li>
      Eğitim ve öğretimde daima kaliteyi yüksek tutan, sürekli değişen ve
      gelişen bir kurum olmak.
    </li>
    <li>
      Demokratik, çağdaş, geleceğe ümitle bakan, güvenli ve kendi kendilerine
      yeterli bireyler yetiştirmek.
    </li>
    <li>
      Eğitim ve rehabilitasyon hizmetlerinde ekip çalışmasına önem vermek ve
      çalışmaları "kurum-okul-aile " eşgüdümü ile yürütmek.
    </li>
  </ul>

  <%- include("partials/footer") -%>

