<%- include("partials/header", {active:"about"}) -%> <%- include("partials/sidenav") -%>
<div class="container">
  <div class="main">
    <h1>Yaygın Gelişimsel Bozukluklar Destek Eğitim Programı</h1>
    <hr />
    <p>
      Bireylerin, var olan yeterliklerinin en üst düzeyde geliştirilerek sosyal
      yaşama etkin katılımının artırılmasının temel yolu eğitimdir. Özel eğitime
      ihtiyacı olan tüm bireylerde olduğu gibi yaygın gelişimsel bozukluğu (YGB)
      olan bireylerde de eğitim ve ev ortamları uygun şekilde
      yapılandırıldığında, işlevsel eğitim programları geliştirildiğinde,
      öğretim süreci bireysellik esasına göre hazırlandığında, bağımsız yaşam
      becerilerinin edinilmesi ve toplumsal entegrasyon bağlamında önemli
      ilerlemeler kaydedilmektedir. Yaygın gelişimsel bozukluğu olan bireylerin
      bağımsız yaşam becerilerini geliştirmeleri, davranış problemlerinin
      azaltılarak gereksinimleri olan beceriler kazanabilmeleri, uygun eğitim
      programlarıyla bütünleştirilmiş, yapılandırılmış ve zenginleştirilmiş
      öğretim ortamlarının erken yaştan itibaren sağlanmasıyla doğrudan
      ilişkilidir. Yaygın gelişimsel bozukluk gösteren bireylerin, tanı
      aldıkları ilk andan itibaren destek eğitim programlarına alınarak
      gelişimlerinin desteklenmeleri gerekmektedir. Bireyin örgün eğitime dâhil
      olduktan sonra da düzeyine/tanısına uygun destek eğitim programlarına
      katılması, gelişiminin en üst düzeyde desteklenmesini sağlayacaktır.
    </p>

    <p>
      Yaygın gelişimsel bozukluklar (YGB), sosyalleşme ve iletişim gibi çoklu
      temel fonksiyonların gelişmesinde gecikmeleri de içeren bir spektrum
      bozukluğudur. Bu grupta yer alan en çok bilinen yaygın gelişimsel bozukluk
      otizmdir. Bu yelpazede yer alan diğer bozukluklar, Rett Sendromu,
      Çocukluğun Dezintegratif Bozukluğu, Asperger Sendromu ve Başka Türlü
      Adlandırılamayan Bozukluk (Atipik Otizm)’tur.
    </p>
    <p>
      YGB’li bireylerin erken çocukluk döneminden başlayarak yetişkinlik
      dönemindeki iş ve mesleki eğitim programları da dâhil olmak üzere yaşam
      boyu süren kaliteli ve nitelikli bir özel eğitim hizmeti almaları,
      bozukluğun türüne, derecesine, bireyin yaşına ve özelliklerine,
      ihtiyaçlarına göre işlevsel olarak planlanmış eğitim programlarının
      sayısının artırılması, çeşitlendirilmesi ile mümkün olabilmektedir.
    </p>
    <p>
      Yaygın Gelişimsel Bozukluklar Destek Eğitim Programı, özel eğitim
      hizmetleri kapsamında özel özel eğitim ve rehabilitasyon merkezlerine
      devam eden yaygın gelişimsel bozukluğu olan bireylerin eğitim
      ortamlarından verimli ve etkili biçimde yararlanmalarını sağlamak amacıyla
      hazırlanmıştır. Bu programın hazırlanmasında 3797 sayılı Millî Eğitim
      Bakanlığının Teşkilat ve Görevleri Hakkında Kanun’un Ek 3. maddesi ile
      24/07/2008 tarihli ve 5793 sayılı Bazı Kanun ve Kanun Hükmünde
      Kararnamelerde Değişiklik Yapılmasına Dair Kanun’un 25. maddesi dayanak
      teşkil etmektedir.
    </p>

    <img class="img-services" src="images/otizm.jpg" width="100%" alt="">
    <br><br>

    <h3>ÖZÜR GRUBUNUN TANIMI VE ÖZELLİKLERİ</h3>
    <hr />
    <p>
      Yaygın gelişimsel bozukluk, birden fazla bozukluğu içeren genel bir tanı
      grubu olup erken çocukluk döneminde başlayan sosyal etkileşim, dil
      gelişimi ve davranış alanlarında yetersizliklere sahip olma durumudur.
      Davranış sorunları, yineleyici, sınırlı ilgi ve davranışları
      kapsamaktadır. Bu durumlar gelişimin birçok alanını etkileyerek kalıcı ve
      süreğen işlev bozukluklarına yol açarlar.
    </p>
    <p>
      1980 öncesinde Amerikan Psikiyatri Birliğinin sınıflandırmasında yaygın
      gelişimsel bozukluklar çocukluk şizofrenisinin bir alt tipi olarak
      sınıflandırılmaktaydı. Amerikan Psikiyatri Birliği, 1994 yılında yaygın
      gelişimsel bozuklukları beş bozukluktan oluşan bir grup olarak
      sınıflandırmıştır.
    </p>
    <p>Bunlar;</p>
    <ol>
      <li> <a href="#otizm">Otizm</a> </li>
      <li> <a href="#rett">Rett Sendromu</a> </li>
      <li> <a href="#dezinteraktif">Çocukluğun Dezintegratif Bozukluğu </a> </li>
      <li> <a href="#asperger">Asperger Bozukluğu</a> </li>
      <li> <a href="#others">Başka Türlü Adlandırılmayan Yaygın Gelişimsel Bozukluk (Atipik Otizm)’
      tur .</a>
       
      </li>
    </ol>

    <h3 id="otizm">1. Otizm</h3>

    <p>
      Otizm, yaşamın erken dönemlerinde başlayan ve yaşam boyu süren, sosyal
      ilişkiler, iletişim, davranış ve bilişsel gelişmede gecikme ve sapma gibi
      özellikler gösteren nöropsikiyatrik bir bozukluk olarak kabul
      edilmektedir. Yaygın gelişimsel bozuklukların en iyi bilineni otizm
      (İnfantil otizm olarak da bilinir.) olup karşılıklı sosyal etkileşimde,
      sözel iletişimde bozukluklar ve basmakalıp stereotipik davranış örüntüsü
      ile karakterizedir. İnfantil otizm kavramı ilk kez Leo Kanner tarafından
      1943 yılında tıp literatürüne kazandırılmış ve 1980'e kadar bu terim
      kullanılmıştır.
    </p>
    <p>
      Otizm terimi, zaman içinde yerini, otizm spektrum bozuklukları (ASD-Autism
      Spectrum Disorders) terimine bırakmıştır. Otizm spektrum bozuklukları,
      yaygın gelişimsel bozukluklarla (Pervasive Developmental Disorders-PDD) eş
      anlamlı olup ileri düzeyde ve karmaşık bir gelişimsel yetersizlik
      anlamında kullanılmaktadır. Otizm ise bu sınıflandırma altında yer alan
      kategorilerden yalnızca biridir.
    </p>
    <p>
      Otizm spektrum bozukluğunun nörolojik nedenlerden kaynaklandığı
      sanılmaktadır. Otizm spektrum bozukluğu tanılı bireylerin önemli bir
      bölümünde (yaklaşık %35), beyindeki anormal elektrik hareketlerine bağlı
      olarak nöbet, istemsiz hareketler, bilinç yitimi vb. nörolojik sorunlar da
      görülebilir. Otizm spektrum bozukluğu bir ruh hastalığı değildir, ancak
      belirtileri bazı ruh hastalıklarını çağrıştırabilir. Yapılan bilimsel
      araştırmalar, otizm spektrum bozukluğunun çocuk yetiştirme özellikleriyle
      ya da ailenin sosyoekonomik özellikleriyle ilişkisi olmadığını
      göstermiştir.
    </p>
    <p>
      Otizm spektrum bozukluğunun kalıtsal olabileceği yönünde bulgular vardır,
      ancak buna yol açan gen ya da genler henüz bulunmuş değildir. Önceki
      yıllarda otizm spektrum bozukluğunun görülme oranının 500’de bir olduğu
      kabul edilirken son verilere göre otizm spektrum bozukluğunun yaklaşık her
      150 çocuktan birini etkilediği düşünülmektedir. Ayrıca, erkeklerdeki
      yaygınlığı kızlardan dört kat fazladır. Sanıldığının aksine, otizm
      spektrum bozukluğu tanılı bireylerin çoğunda, farklı düzeylerde zekâ
      geriliği görülür. Ayrıca, zekâ testlerinde belli alanlar, diğer alanlara
      kıyasla çok daha geri çıkabilir. Otizm spektrum bozukluğu tanılı
      bireylerin pek azında (yaklaşık %10), çok güçlü bellek, müzik yeteneği vb.
      üstün özelliklere rastlanır.
    </p>
    <p>
      Amerikan Psikiyatri Birliği tarafından 2000 yılında yayımlanmış olan
      DSM-IV-TR (Ruhsal Bozuklukların Tanısal ve Sayımsal El Kitabı) kılavuzuna
      göre yaygın gelişimsel bozukluklar içinde yer alan otizm tanısının
      konulabilmesi için aşağıda sıralanan belirtilerden en az altısının
      görülmesi gerekir. Ayrıca, bu belirtilerden en az ikisinin sosyal
      etkileşim sorunları kategorisinden, en az birer tanesinin ise diğer iki
      kategoriden (iletişim sorunları ve sınırlı/yinelenen ilgi ve davranışlar)
      olması şarttır. Bu belirtilerden en az birinin 36 aydan önce ortaya çıkmış
      olması da bir diğer koşuldur. Otizm spektrum bozukluğu şemsiyesi altında
      yer alan diğer kategoriler için daha farklı ölçütler söz konusudur.
      Aşağıda, her bir belirtiye ilişkin ayrıntılar yer almaktadır:
    </p>

    <br>
    <h4>a. Sosyal Etkileşim Sorunları</h4>
    <br>
    <p>
      <i
        ><strong>
          Sosyal etkileşim için gerekli sözel olmayan davranışlarda yetersizlik</strong
        ></i
      >
    </p>
    <ul>
      <li>
        Sıra dışı göz kontağı özellikleri: Göz kontağı hiç kurmamak, çok kısa
        süreli kurmak ya da alışılmadık biçimde kurmak. Örneğin, birden bire
        gözlerini karşısındakinin gözlerine dikmek ve kaçırmak gibi.
      </li>
      <li>
        Jest ve mimik kullanımında sınırlılık: Konuşurken çok az jest ve mimik
        kullanmak.
      </li>
      <li>
        Başkalarına yaklaşmada sıra dışı özellikler: Sosyal ortamların
        gerektirdiği mesafeyi ayarlayamamak:Başkalarına fazla yakın ya da uzak
        durmak.
      </li>
      <li>
        Ses kullanımında sıra dışılık: Konuşurken alışılmadık ses kalitesi ve
        vurgu özellikleri göstermek.
      </li>
    </ul>

    <p><i><strong>Yaşa uygun akran ilişkileri geliştirememek</i></strong></p>
    <ul>
      <li>
        Arkadaşlık kurmakta zorlanmak: Çok az sayıda arkadaşa sahip olmak ya da
        hiç arkadaş edinememek.
      </li>
      <li>
        Akranlarla etkileşimde bulunmamak: Kendi yaşıtlarıyla oynamada,
        konuşmada vb. çok isteksiz davranmak. Örneğin, yalnızca kendisinden çok
        küçük ya da büyük kişilerle etkileşimde bulunmak.
      </li>
      <li>
        Yalnızca özel ilgilere dayalı ilişkiler geliştirmek: Belli kişilerle,
        yalnızca belli ilgilere dayalı olarak (favori konularda) etkileşimde
        bulunmak.
      </li>
      <li>
        Grup içinde etkileşimde bulunurken zorlanmak: İş birliğine dayalı
        oyunların kurallarına uymakta zorlanmak.
      </li>
    </ul>

    <p><i><strong>Başkalarıyla zevk, başarı ya da ilgi paylaşımında sınırlılık</strong></i></p>
    <ul>
      <li>
        Yalnız olmayı tercih etmek: Başkalarının, genellikle aile üyeleriyle ya
        da arkadaşlarıyla birlikte yaptığı pek çok şeyi (TV izlemek, yemek
        yemek, oyun oynamak vb.) yalnız başına yapmayı yeğlemek.
      </li>
      <li>
        Belli olay ya da durumlara başkalarının dikkatini çekme çabası
        göstermemek. Örneğin; şaşırtıcı bir durum
      </li>
      <li>
        Belli olay ya da durumlara başkalarının dikkatini çekme çabası
        göstermemek. Örneğin; şaşırtıcı bir durum
      </li>
      karşısında başkalarına işaret etmemek, bir şey başardığında başkalarıyla
      paylaşmamak vb.
      <li>
        Sözel övgü karşısında tepki vermemek: Başkalarının kendisine yönelttiği
        övgü sözleri ya da sözel onaylamalar karşısında çok az tepki vermek ya
        da hiç tepki vermemek. Örneğin, hoşnutluk belirtisi göstermemek.
      </li>
    </ul>

    <br>
    <h4>b. İletişim Sorunları</h4>
    <br>
    <p><i><strong>Dil gelişiminde gecikme</strong></i></p>
    <ul>
      <li>İki yaşından büyük olup da tek bir sözcük bile söylememek.</li>
      <li>
        Üç yaşından büyük olup da iki sözcüklük basit ifadeler (‘Baba git.’ vb.)
        kullanmamak.
      </li>
      <li>
        Konuşmaya başladıktan sonra basit bir dil bilgisi yapısı kullanmak ya da
        belli yanlışları tekrarlamaya devam etmek.
      </li>
    </ul>

    <p><i><strong>Karşılıklı konuşmada zorluk</strong></i></p>
    <ul>
      <li>
        Karşılıklı konuşma başlatmada, sürdürmede ve sonlandırmada önemli
        sorunlar göstermek: Örneğin; bir kez konuşmaya başlayınca konuşmayı uzun
        bir monolog şeklinde sürdürmek ve karşısındakilerin yorumlarını göz ardı
        etmek.
      </li>
      <li>
        Konuşma konularında seçicilik: Kendi favori konuları dışındaki konularda
        çok zor ve isteksiz olarak konuşmak.
      </li>
    </ul>

    <p><i><strong>Sıra dışı ya da yinelenen dil kullanmak</strong></i></p>
    <ul>
      <li>Başkalarının kendisine söylediklerini tekrarlamak.</li>
      <li>
        Televizyondan duyduklarını ya da kitaplardan okuduklarını, ilişkisiz
        zamanlarda ve bağlam dışı olarak yinelemek.
      </li>
      <li>
        Kendisinin uydurduğu ya da yalnızca kendisine anlam ifade eden sözleri
        tekrarlamak.
      </li>
      <li>Aşırı resmî ve didaktik konuşma özellikleri göstermek.</li>
    </ul>

    <p><i><strong>Gelişimsel düzeye uygun olmayan oyun</strong></i></p>
    <ul>
      <li>
        Senaryolu oyunlarda sınırlılık: Oyuncaklarla evcilik, okulculuk,
        doktorculuk vb. hayali oyunlar oynamamak.
      </li>
      <li>
        Sembolik oyunlarda sınırlılık: Bir nesneyi başka bir nesne olarak (küpü
        mikrofon olarak vb.) kullanarak oyun oynamamak.
      </li>
      <li>
        Oyuncaklarla alışılmadık biçimlerde oynamak. Örneğin; topu zıplatmak
        yerine sürekli olarak bir eliyle vurmak, legoları birbirine takıp bir
        şeyler yapmak yerine sıraya dizmek vb.
      </li>
      <li>
        Sosyal oyunlara ilgisizlik: Küçük yaşlardayken, ‘ce-e’ vb. sosyal
        oyunlara karşı ilgi göstermemek.
      </li>
    </ul>

    <br>
    <h4>c. Sınırlı/Tekrarlayıcı İlgi ve Davranışlar</h4>
    <br>
    <p><i><strong>Sınırlı alanda, yoğun ve sıra dışı ilgilere sahip olmak</strong></i></p>
    <ul>
      <li>
        İlgi takıntıları: Bazı konulara karşı aşırı ilgi duymak ve başka
        konuları dışlayarak sürekli o konularla ilgili konuşmak, okumak,
        ilgilenmek vb. istemek.
      </li>
      <li>
        Bazı sıra dışı konulara aşırı ilgi duymak. Örneğin; astrofizik, uçak
        kazaları ya da sulama sistemleri.
      </li>
      <li>
        İlgi duyduğu konularla ilgili ince ayrıntıları anımsamak: Kendi favori
        konularındaki en ince ayrıntıları bile ezbere bilmek.
      </li>
    </ul>

    <p><i><strong>Belli düzen ve rutinlere ilişkin aşırı ısrarcılık</strong></i></p>
    <ul>
      <li>
        Belli etkinlikleri her zaman belli bir sırayla yapmak istemek: Örneğin,
        arabanın kapılarını hep aynı sırayla kapatmak.
      </li>
      <li>
        Günlük rutinlerde değişiklik olmamasını istemek. Örneğin; eve gelirken
        hep aynı güzergahı izlemek ya da eve geldiğinde önce televizyonu açıp
        sonra tuvalete gitmek.
      </li>
      <li>
        Günlük yaşamdaki değişiklikler karşısında aşırı tepki göstermek: En ufak
        bir değişiklik karşısında aşırı kaygılanmak ya da öfke nöbeti yaşamak.
      </li>
      <li>
        Değişiklikleri daha kolay kabullenebilmek için meydana gelecek
        değişikliklerle ilgili önceden bilgi sahibi olmaya gereksinim duymak.
      </li>
    </ul>

    <p><i><strong>Tekrarlayıcı (kendini uyarıcı) davranışlar</strong></i></p>
    <ul>
      <li>
        Sıra dışı beden hareketleri: Parmak ucunda yürümek, çok yavaş yürümek,
        kendi ekseni etrafında dönmek, durduğu yerde sallanmak, farklı bir beden
        duruşuna sahip olmak vb.
      </li>
      <li>
        Sıra dışı el hareketleri: Ellerini sallamak, parmaklarını gözlerinin
        önünde hareket ettirmek, ellerini farklı biçimlerde tutmak vb.
      </li>
    </ul>
    <p><i><strong>Nesnelerle ilgili sıra dışı ilgiler ve takıntılar</strong></i></p>
    <ul>
      <li>
        Nesneleri sıra dışı amaçlarla kullanmak: Örneğin, oyuncak arabanın
        tekerleklerini çevirmek ya da oyuncak bebeğin gözlerini açıp kapamak vb.
        davranışları tekrar tekrar yapmak.
      </li>
      <li>
        Nesnelerin duyusal özellikleriyle aşırı ilgilenmek: Örneğin, eline
        aldığı her nesneyi koklamak ya da gözlerinin önünde tutarak ve evirip
        çevirerek incelemek.
      </li>
      <li>
        Hareket eden nesnelere aşırı ilgi göstermek: Örneğin; tekerlek ya da
        pervane gibi dönen nesnelere, akan su ya da yanıp sönen ışık gibi hızlı
        hareket eden görüntülere uzun sürelerle bakmak.
      </li>
      <li>
        Nesne takıntıları: Bazı sıra dışı nesneleri (bir silgi ya da küçük bir
        zincir parçası vb.) elinden bırakmak ya da gözünün önünden ayırmak
        istememek.
      </li>
    </ul>

    <h3 id="rett">2. Rett Sendromu</h3>
    <p>
      Rett Sendromu, ilk defa Dr. Andreas Rett tarafından tanımlanmış, Dr. Bengt
      Hagberg ve çalışma arkadaşları tarafından 1983 yılında yayınlanan raporla,
      bir hastalık olarak dünya çapında tanınmıştır. Rett Sendromu (RS), dünyada
      çeşitli ırklarda ve etnik gruplarda, özellikle kız çocuklarında görülen
      nörolojik bir rahatsızlıktır. Bu sendromun, erkeklerde de görülebileceği
      bilinmektedir, fakat erkeklerde görüldüğünde bu bebeklerde genellikle
      düşük, doğum anında ölüm veya anne karnında erken ölüm gibi durumlar
      ortaya çıkmaktadır.
    </p>
    <p>
      RS’li çocuklar, 6-18 aylık olana kadar normal veya normale yakın bir
      gelişim gösterirler. Bu süreden sonra çocuk, geçici durgunluk veya
      gerileme sürecine girer, iletişim kurma becerisini yitirir ve ellerini
      birbirine kenetler. Hemen ardından stereotipik el hareketleri, yürüyüş
      bozuklukları ve kafa gelişiminde gözle görülebilir bir yavaşlama ortaya
      çıkar. Nöbet geçirme, uyanıkken düzensiz soluk alıp verme gibi
      problemlerle de karşılaşılabilir.
    </p>
    <p>
      Rett Sendromu’nun, otizm, beyin felci veya spesifik olmayan gelişme
      bozukluklarında olduğu gibi teşhisi çok zordur. Dünyada, çeşitli ülkelerde
      yapılan araştırmalara göre her 23 binde 1 doğumdan, 10 binde 1 doğuma
      kadar ulaşan oranlarda RS’li kız çocuğu doğmaktadır. Bazı çocuklar konuşma
      kabiliyetlerini yitirmeden önce tek tek kelimeler kullanmaya ve kelime
      kombinasyonları yapmaya başlayabilirler. RS’in şiddetinin bütün hastalar
      için zor olduğunu tahmin etmek zor değildir.
    </p>
    <p>
      Apraxia (denge bozukluğu), en temel vücut hareketlerinin yerine
      getirilmesinde yetersizlik ve RS’in sebep olduğu tüm engelli davranışların
      gözlemlenebildiği durumdur. Gözün sabit bakışı ve konuşma kabiliyeti de
      dâhil tüm vücut hareketlerine etki ederek çocuğun kontrollü şekilde
      hareket etmesini zorlaştırır. Apraxia ve sözel iletişim becerisinin
      eksikliği nedeniyle, zekânın doğruyu tayin etmesi de zorlaşır. Çoğu
      geleneksel test metotları, ellerin kullanımına ve/veya sözel iletişime
      gereksinim duyar bu durum RS’li bir çocuk için belki de imkânsızdır.
    </p>

    <p>
      RS’te büyüme genellikle yavaştır, birçok RS’li bayan yaşına göre oldukça
      küçük görünmektedir. Yapılan çalışmalar, doymak bilmez bir iştahları
      varmış gibi görülmelerine rağmen birçoğunun orta dereceden üst sınıra
      kadar değişebilen oranlarda yetersiz beslenme problemi ile karşı karşıya
      olduklarını göstermektedir. Buna; yutma zorluğu, yetersiz besin girişi,
      enerjinin dengesiz harcanması veya vücudun besleyici gıdalardan yeteri
      kadar yararlanamaması gibi problemler neden olmaktadır. Bu gibi
      durumlarda, kilo almasına ve boyunun uzamasına yardımcı olacak, dikkatini
      ve etkileşimini geliştirecek tamamlayıcı bir beslenme programı (ağız
      yoluyla yüksek kalori/kilo aldırma diyetleri, NG tüpü veya gastrostomy
      butonu) uygulanmalıdır.
    </p>
    <p>
      Bütün bu zorluklara rağmen, Rett Sendrom’lu bir hasta orta yaşlarına,
      hatta daha ileri yaşlara kadar öğrenmeye devam edebilir, ailesi ve
      arkadaşlarıyla iyi vakit geçirebilir. Bütün duygular hakkında tecrübe
      sahibidirler, evde veya topluluk arasında sosyal, eğitim veya eğlence
      amaçlı aktivitelere katıldıklarında, hoş ve çekici kişiliklerini
      gösterirler.
    </p>

    <h3 id="dezinteraktif">3. Çocukluğun Dezintegratif Bozukluğu</h3>

    <p>
      Çocukluğun dezintegratif bozukluğu olan çocuklarda doğumdan itibaren en az
      iki yıl tamamen normal gelişim kaydedilir. Belirtiler sıklıkla 3-4 yaş
      arası görülmeye başlar. Bu tanıyı koyabilmek için belirtilerin 10 yaştan
      önce gelişmiş olması gerekir. Ağır mental retardasyonla ve lokodistrofiyle
      (ilerleyici çocuk nörolojisi hastalıkları) birlikte görülmektedir. Ayrıca
      epilepsiye rastlama olasılığı da sıktır. Başlangıç ani veya dereceli
      olabilir. İlk bulgular, aktivitede artış, huzursuzluk ve anksiyetedir.
      Daha sonra konuşma ve diğer yetilerde kayıplar kaydedilir, klinik tablo
      platoya erişir ve sonraki gelişim sınırlı olabilir. Eğer ilerleyici bir
      nörolojik bozukluğun sonucu olarak ortaya çıkıyorsa klinik tablo kötüleşme
      hatta ölümle sonuçlanabilir. Bu psikoza “heller demansı” veya “infantil
      demans” da denilmektedir. Otizmdeki gerilemeyle ilişkisi tartışmalıdır.
      Genelde, nöroloji kliniklerinde yataklı tetkiklerle teşhis edilir.
    </p>

    <p>
      Öncesinde normal işlev gören çocuğun 3-4 yaşlarında başlayan zekâ, dil ve
      sosyal işlevlerinde birkaç ay içinde gelişen deteryasyon (yıkım)’dur.
      Tahminen otistik bozuklukların 10'da biri sıklıkta gözlenir. Erkek/kız
      oranı 4-8/1'dir. Sebep bilinmiyor. Konvulzif sendromlar, tuber sklerozis
      ve çeşitli metabolik hastalıklarla birlikte bulunabilmektedir. Çocukluğun
      Dezintegratif Bozukluğu DSM-IV tanı ölçütleri şunlardır:
    </p>

    <ol type="A">
      <li>
        Doğumdan sonraki iki yıl içinde yaşına uygun sözel ve sözel olmayan
        iletişim, toplumsal ilişkiler, oyunlar ve uyumsal davranışların olması
        ile kendini belli eden görünüşte normal bir gelişmenin olması
      </li>
      <li>
        Aşağıdakilerden en az iki alanda daha önce edinilmiş olan becerilerin
        (10 yaşından önce) klinik olarak önemli ölçüde yitirilmesi.
        <p>Bunlar:</p>

        <ol type="1">
          <li>Sözel anlatım ya da dili algılama</li>
          <li>Toplumsal beceriler ya da uyumsal davranış</li>
          <li>Bağırsak ya da mesane kontrolü</li>
          <li>Oyun</li>
          <li>Motor beceriler</li>
        </ol>
      </li>

      <li>
        Aşağıdakilerden en az iki alanda olağan dışı bir işlevselliğin olması:
        <ol type="1">
          <li>
            Toplumsal etkileşimde nitel bir bozulma (sözel olmayan davranışlarda
            bozulma, yaşıtlarıyla ilişki kuramama, toplumsal ya da duygusal
            karşılıklar verememe vb.)
          </li>
          <li>
            İletişimde nitel bozukluklar (konuşulan dilin gelişiminde gecikme
            olması ya da hiç gelişmemiş olması, bir söyleşiyi başlatamama ya da
            sürdürmede, dilin basmakalıp ve yineleyici bir biçimde kullanılması,
            çeşitli imgesel oyunlar oynamama vb.)
          </li>
          <li>
            Motor basmakalıp davranışlar ve mannerizmler de içinde olmak üzere
            davranış, ilgi ve etkinliklerde sınırlı, basmakalıp ve yineleyici
            örüntülerin olması
          </li>
        </ol>
      </li>
    </ol>

    <h3 id="asperger">4. Asperger Bozukluğu</h3>
    <p>
      Asperger Sendromu’nda, tipik olarak otizmli bireylerde görülen sosyal
      ilişki ve iletişim sorunlarının yanı sıra sınırlı ilgi alanı görülür. Çok
      sınırlı konularda ve dar çerçeveli alanlarda derin bilgilere sahiplerdir,
      bu nedenle bu çocuklara "küçük profesör" yakıştırması yapılır. Otizmden
      farklı olarak zamanında konuşmaya başlarlar; aşırı bilgiçlik ve el
      becerilerinde özel sorunlar görülür. Bu çocuklar normal veya üstün zekâya
      sahiptirler. Mekanik oyuncaklara çok düşkündürler ve ilgi alanı sınırlı
      olan insanlarla daha iyi yakınlık kurarlar. Amaçsızca birtakım nesneleri
      toplayabilirler, öz bakım sorunları yoktur. Erişkinlikte ise kurallara
      sıkıca bağlı, soğuk ve mesafeli insanlar olarak tanınırlar. Bu bireylerin
      sosyal hayatında, genelde bir tane çok yakın arkadaşları vardır ve bu
      kişinin de sıklıkla dar, kısıtlı ilgi alanı vardır. Duygusal hayatında hep
      akılcı ve heyecansız yorumlamalara sahiptir, davranış sorunları
      görülebilir, jest, mimik ve vücut dilini kullanmada sorunları vardır.
      [Frith, 1991]. Bu sendromda genetik ilişki sıklıkla baba ve oğul arasında
      kurulur. Otizm ve Asperger Sendromu birbirine dönüşebilir bir nitelik
      taşır.
    </p>
    <p>
      Asperger Sendromu’nun klinik özellikleri şöyle sıralanabilir: Normal dil
      gelişimi, normal zekâ ve hatta bazen üstün zekâya sahip olma,
      beceriksizlik, bilgiççe, ders veriyormuş gibi konuşma tarzı, antisosyal
      şiddet içeren davranışlar görülmektedir. Görülme sıklığı 1000’de 1’dir.
      Erkeklerde 2-4 kat daha fazladır. Tanı genelde 5 yaş civarında konabilir.
      Dikkat Eksikliği ve Hiperaktivite Bozukluğu ve depresyonla eş zamanlı
      görülür. Özellikle dede ve babalardan ailevi geçiş görülür.
    </p>

    <h3 id="others">
      5. Başka Türlü Adlandırılamayan Yaygın Gelişimsel Bozukluk (Atipik Otizm)
    </h3>
    <p>
      Atipik otizm, dil ve sosyal iletişimle ilgili sorunlar, dilin amaca
      yönelik kullanımındaki sorunlar, aşırı çekingenlik, aşırı utangaçlık,
      gündelik ve özel yaşamında belli ilkelere aşırı katı yaklaşım ve bağlılık
      gibi durumlarla ilişkili olarak göz önüne alınabilir. Bazı kişilik tipleri
      ve bozuklukları (şizoid kişilik, şizotipal kişilik, çekingen kişilik) yine
      atipik otizmle ilişkili olabilir, fakat farklar vardır. Örneğin, şizoid
      kişilikler toplumsal ilişkileri anlar, özellikle istemezler. Buna karşın
      otizmli bireylerde ilişki kurma arzusu olduğu, ama beceremedikleri ileri
      sürülmüştür.
    </p>
    <p>
      Atipik otizmle tipik otizm arasındaki farklar oldukça tartışmalıdır.
      Araştırmalar ve sonuçları yeterli olmasa da elde edilen belli bulgular
      vardır. Tipik otizmde, tanı kalıcıdır. Hafiften ağıra giden bir yelpazesi
      vardır. Dil sorunu bazı olgularda düzelir, ama çoğu kez kalıcıdır. Kendine
      zarar verme davranışı sıktır. Yaş, cins, ailede benzer durum özellikleri
      ve iletişim sorunu temelde atipik otizmle aynıdır. Stereotipilerin
      ağırlığı, sıklığı, şiddeti küçük yaşlarda atipik otizmle aynı olabilir ve
      ilerleyen yaşa rağmen değişmeden kalıcı olabilir. Zekâ en ağırdan en
      hafife kadar değişen düzeylerde geri olabilir. Dar ilgi alanı, takıntılı
      davranış, duysal belirtiler atipik otizmde görülenle aynı olabilir. Geç
      yürüyebilir. Öz bakım sorunları belirgindir ve ilerleyen yaşa rağmen
      kalıcı olabilir. Buna karşın atipik otizmde ilerleyen yaşla tanı
      değişebilir ve bir kişilik özelliğine dönüşebilir. Otizm belirtileri
      zamanla kaybolabilir; iyi eğitimle ve elverişli şartlarda tamamen normale
      dönebilir. Ağır formu yoktur ve hafif otizmden ayrılması zordur. Bu
      nedenle normal gelişimin bir parçası olarak görülebilir. Otizme özgü
      davranışlar belirli durumlarda (zorlanma) açığa çıkacak şekilde
      maskelenebilir veya değişik görünümler altında gizlenebilir (yalancı dışa
      dönüklük vb.). Mizahı anlama ve oluşturmada, karşı cinsle ilişki başta
      olmak üzere insan ilişkilerinde hep ciddi sorunlar yaşanır. Dil sorunu
      varsa kısa sürelidir; sonuç olarak düzgün gramer ve fonoloji ile
      konuşurlar. Kendine zarar verici davranış görülmez. Belirtiler şiddet ve
      bir araya geliş yoğunluğu açısından, toplumsal yasayış ve düzeni bozacak
      şekilde belli bir sınırı aşmaz. Genel gelişim eğrisi elverişli şartlar
      altında düzelme yönündedir. Öğrenme sorunları olabilir ve okul sorunları
      yaşanır. Stereotipik (tekrarlayıcı) hareketler ilerleyen yaşla sebat
      etmez. Dar ve yoğunlaşmış bir ilgi alanı vardır, ancak toplumsal açıdan
      daha anlamlı bir konuda (mesleğinde vb.) bu durum başarıya neden olabilir.
      Takıntılı davranış, ritüeller atipik otizmde daha belirgin olabilir. Panik
      ataklar sık görülebilir.
    </p>

    <h3>PROGRAMIN DÜZEYİ</h3>
    <hr />
    <p>
      Program, yaygın gelişimsel bozukluklar tanı grubu içerisinde yer alan her
      yaştaki bireyin gelişimsel özellikleri, eğitim ihtiyaçları ve öncelikleri
      dikkate alınarak hazırlanmıştır.
    </p>

    <h3>PROGRAMIN GENEL AMAÇLARI</h3>
    <p>Bu program ile bireylerin;</p>
    <ol type="1">
      <li>
        İşlevsel becerilerin kazandırılmasına ön koşul oluşturan temel eşleme ve
        taklit becerilerini geliştirmeleri,
      </li>
      <li>
        Sosyal etkileşim başlatma ve sürdürme becerilerini geliştirmeleri,
      </li>
      <li>Alıcı ve ifade edici dil becerilerini geliştirmeleri,</li>
      <li>İletişim becerilerini geliştirmeleri,</li>
      <li>
        Bağımsız çalışma ve işlevde bulunma ile organize olma becerilerini
        kazanmaları,
      </li>
      <li>Öz bakım ve günlük yaşam becerilerini geliştirmeleri,</li>
      <li>Akademik becerilerini geliştirmeleri,</li>
      <li>
        Toplumsal yaşama katılım ve sosyal uyum becerilerini geliştirmeleri
      </li>
    </ol>
    <p>beklenmektedir.</p>

    <h3>PROGRAM İLE İLGİLİ AÇIKLAMALAR</h3>
    <hr />

    <ol>
      <li>
        Modüllerde yer alan kazanımlar Yaygın Gelişimsel Bozukluklar Destek
        Eğitim Programı’nın genel amaçlarına ulaşmayı sağlayacak nitelikte
        belirlenmiştir.
      </li>
      <li>
        Yaygın gelişimsel bozukluk gösteren bireylerin başka bir yetersizliği
        olması halinde, sahip olduğu diğer yetersizlik alanına ait programlardan
        birey için uygun olan modüller belirlenerek bireysel eğitim programına
        dâhil edilmelidir.
      </li>
      <li>
        Programı oluşturan modüller ve kazanımlar bireylerin yaşadığı güçlükler
        göz önünde bulundurularak hazırlanmıştır. Bireyin ihtiyaçlarına göre
        aynı anda birden fazla modülden kazanımlar bireysel eğitim programına
        dahil edilebilir.
      </li>
      <li>
        Program modüllerinde yer alan kazanımların gerçekleşebilmesi için
        öğrenme ve öğretme sürecinde modülde belirtilen gerekli araç-gereç ve
        donanımlar sağlanmalıdır.
      </li>
      <li>
        Programda yer alan modüller arasında genel bir hiyerarşik düzen olmakla
        birlikte bireyin yaşı, tıbbi tanısı, gelişim düzeyi ve öncelikli
        ihtiyaçları dikkate alınarak modüllerin seçiminde farklı yapılandırmalar
        olabilir. Ancak eşleme, taklit, yönerge takip beceri modülleri öğrenmeye
        hazırlık çalışmalarına temel oluşturduğu için bireyin eğitim programında
        öncelikli olarak yer almalıdır.
      </li>
      <li>
        Bireyin eğitim planı doğrultusunda bağlı olduğu rehberlik ve araştırma
        merkezi, varsa devam ettiği okul ya da kurum ve diğer ilgili
        kuruluşlarla iş birliği yapılmalıdır. Bireyin eğitim planı, yapılacak
        çalışmalar, öneriler konusunda varsa devam ettiği kurum/okul personeli
        (sınıf öğretmeni, rehber öğretmen, özel eğitim öğretmeni, branş
        öğretmeni, kurum psikoloğu, okul öncesi öğretmeni, sosyal hizmet uzmanı
        vb.) ile görüş alışverişi yapılarak bireyin gelişimi desteklenmelidir.
        Bireyin destek eğitim sürecinin sonunda devam ettiği kurum tarafından
        hazırlanan gelişim raporu ve ekinde birey kazanımlarının günlük yaşama
        geçişini ve kalıcılığını sağlayacak öneriler, bağlı olduğu rehberlik ve
        araştırma merkezinin yanı sıra bireyin ailesine, 2828 sayılı yasa ile
        devlet koruması altında bulunan bireyin yasal vasi statüsünde olan
        kuruma, varsa devam ettiği okulun rehberlik ve psikolojik danışma
        servisine iletilmelidir.
      </li>
      <li>
        Destek eğitim sürecinde bireyselleştirilmiş eğitim programı geliştirme
        birimince gerek görülmesi durumunda uzman (psikiyatrist, sosyal hizmet
        uzmanı, fizyoterapist, dil ve konuşma terapisti, iş ve uğraşı terapisti
        vb.) desteği alınabilir.
      </li>
      <li>
        Destek eğitim programının verimliliğini artırmak amacıyla modüllerde yer
        alan uygulamaya yönelik kazanımların gerçek ortamlarda ya da
        yapılandırılmış ortamlarda işlenmesi sağlanmalıdır.
      </li>
    </ol>
  </div>

  <%- include("partials/footer") -%>

