<%- include("partials/header", {active:"about"}) -%> <%-
include("partials/sidenav") -%>
<div class="container">
  <div class="main">
    <h1>Zihinsel Engelli Bireyler Destek Eğitim Programı</h1>
    <hr />
    <p>
      Eğitim, önceden belirlenmiş amaçlara göre insanların davranışlarında belli
      gelişmeler sağlamaya yarayan planlı etkinliklerdir. Ayrıca eğitim,
      bireylerin toplumun normlarını, standartlarını ve yaşama yollarını
      kazanmasında etkili olan tüm sosyal süreçlerdir. Bireyin yaşadığı toplum
      içinde değeri olan yetenek ve diğer davranış biçimleri geliştirdiği
      süreçlerin tamamı eğitim aracılığıyla edinilir. Tüm bireyler gibi zihinsel
      yetersizliği olan bireylerin de aynı aşamalardan geçmeleri söz konusudur.
      Ancak zihinsel yetersizliği olan bireylerin tüm bu aşamalarda
      yaşıtlarından daha farklı süreçlerden geçtiği bilinmektedir.
    </p>
    <p>
      Özel eğitime gereksinimi olan bireylerin eğitim ve sosyal ihtiyaçlarını
      karşılamak için özel olarak yetiştirilmiş personel, geliştirilmiş eğitim
      programları ve yöntemleri, bu bireylerin tüm gelişim alanlarındaki
      özellikleri ile akademik disiplin alanlarındaki yeterliliklerine dayalı
      olarak uygun ortamlarda sürdürülen eğitim özel eğitimdir.
    </p>
    <p>
      Özel eğitim gerektiren birey, çeşitli nedenlerle, bireysel özellikleri ve
      eğitim yeterlilikleri açısından akranlarından beklenilen düzeyden anlamlı
      farklılık gösteren bireydir.
    </p>
    <p>
      Zihinsel Yetersizliği Olan Bireylerin Destek Eğitim Programı, Millî Eğitim
      Bakanlığına bağlı olarak faaliyet gösteren özel özel eğitim ve
      rehabilitasyon merkezlerinde destek eğitime devam eden zihinsel
      yetersizliği olan bireylerin, verilen özel eğitim hizmetlerinden etkili ve
      en üst düzeyde yararlanmalarını sağlamayı amaçlamaktadır. Program,
      ülkemizde zihinsel yetersizliği (ağır, orta, hafif düzeyde) olan
      bireylerin gelişim alanlarına ait özellikler dikkate alınarak
      hazırlanmıştır.
    </p>
    <p>
      Zihinsel yetersizliği olan bireylerin destek eğitim programının
      hazırlanmasında 3797 sayılı Millî Eğitim Bakanlığının Teşkilat ve
      Görevleri Hakkında Kanun’un Ek 3. maddesi ile 24/07/2008 tarihli ve 5793
      sayılı Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik Yapılmasına
      Dair Kanun’un 25. maddesi dayanak teşkil etmektedir.
    </p>

    <img class="img-services" width="100%" src="images/down.jpg" alt="" />

    <br /><br />

    <h3>ÖZÜR GRUBUNUN TANIMI VE ÖZELLİKLERİ</h3>
    <hr />
    <p>
      <b>Zihinsel yetersizliği olan birey:</b> Zihinsel işlevler bakımından
      ortalamanın iki standart sapma altında farklılık gösteren, buna bağlı
      olarak kavramsal, sosyal ve pratik uyum becerilerinde eksiklikleri ya da
      sınırlılıkları olan, bu özellikleri 18 yaşından önceki gelişim döneminde
      ortaya çıkan ve özel eğitim ile destek eğitim hizmetlerine ihtiyaç duyan
      bireydir.
    </p>

    <p>
      <b>Hafif düzeyde zihinsel yetersizliği olan birey:</b> Zihinsel işlevler
      ile kavramsal, sosyal ve pratik uyum becerilerinde hafif düzeydeki
      yetersizliği nedeniyle özel eğitim ile destek eğitim hizmetlerine sınırlı
      düzeyde ihtiyaç duyan birey,
    </p>

    <p>
      <b>Orta düzeyde zihinsel yetersizliği olan birey:</b>Zihinsel işlevler ile
      kavramsal, sosyal ve pratik uyum becerilerindeki sınırlılık nedeniyle
      temel akademik, günlük yaşam ve iş becerilerinin kazanılmasında özel
      eğitim ile destek eğitim hizmetlerine yoğun şekilde ihtiyaç duyan birey,
    </p>

    <p>
      <b>Ağır düzeyde zihinsel yetersizliği olan birey:</b>Zihinsel işlevler ile
      kavramsal, sosyal ve pratik uyum becerilerindeki eksiklikleri nedeniyle öz
      bakım becerilerinin öğretimi de dâhil olmak üzere yaşam boyu süren,
      yaşamın her alanında tutarlı ve yoğun özel eğitim ve destek eğitim
      hizmetine ihtiyacı olan birey olarak tanımlanmaktadır.
    </p>

    <h3>Zihinsel Yetersizliği Olan Bireylerin Özellikleri</h3>
    <hr />
    <p>
      <b>Dikkat:</b> Zihinsel yetersizliği olanlarda dikkat problemleri yaygın
      olarak görülmektedir. Bireylerin öğrenme problemlerinin önemli bir bölümü
      dikkat problemlerinden kaynaklanmaktadır. Genel olarak dikkatleri dağınık
      ve kısa sürelidir.
    </p>

    <p>
      <b>Bellek:</b> Zihinsel yetersizliği olan bireylerin pek çoğu hatırlamada
      güçlük çeker. Görsel ve işitsel algıları zayıftır. Bellekle ilgili
      yaşadıkları en önemli problem öğrendikleri bilgileri kısa süreli bellekten
      uzun süreli belleğe aktarmada yaşamalarıdır. Genelleme yapmakta
      zorlanırlar, kazandıkları bilgileri ilişkilere göre gruplamada güçlük
      çekebilirler. Zihinsel yetersizliği olan bireylerin yaşıtlarıyla
      karşılaştırıldığında kendilerini düzenleme (tekrarlama, gruplandırma,
      ilişkilendirme) stratejilerini daha az sıklıkta kullandıkları
      görülmektedir.
    </p>

    <p>
      <b>Öğrenme:</b> Akranları gibi öğrenebilir ve öğrenmeye devam ederler.
      Akranlarından temel farkları öğrenmenin hızındadır, öğrenme hızları daha
      yavaştır.
    </p>

    <p>
      <b>Dil Gelişimi:</b> Zihinsel yetersizliği olan bireyler dil ve konuşmayı
      zihinsel yetersizliği olmayan bireylerin geçtiği basamaklardan geçerek
      edinirler. Ancak bu basamaklardan geçiş hızları daha yavaştır. Dil ve
      konuşma gelişimindeki sorunlar ile kendini düzenleme (tekrarlama,
      gruplandırma, ilişkilendirme) problemleri arasında yakın bir ilişki
      vardır. Çünkü birçok kendini düzenleme stratejisi dile dayalıdır.
    </p>

    <p>
      <b>Akademik Başarı:</b> Başarısızlıkları daha çok okuma-yazmada, okuduğunu
      anlamada, temel aritmetik becerileri kazanmada ortaya çıkmaktadır. Soyut
      kavramları somut kavramlara göre daha zor öğrenirler.
    </p>

    <p>
      <b>Sosyal Gelişim:</b> Zihinsel yetersizlik gösteren bireylerde çeşitli
      sosyal problemlere rastlanmaktadır. Sosyal ilişkilerinde kendilerini
      grupta kabul ettirecek becerileri azdır. Arkadaşlık etmede sıklıkla
      problem yaşarlar. Benlik kavramları genellikle zayıftır.
    </p>

    <p>
      <b>Psikomotor Gelişim:</b> Genel olarak bu bireylerin fiziksel gelişimleri
      (boy-kilo) ise yaşıtlarının gelişimi ile tutarlılık gösterebilmektedir.
    </p>

    <p>
      ❖
      <i
        >Zihinsel yetersizliği olan bireyin, sahip olduğu yetersizliğin derecesi
        arttıkça yukarıda belirtilen alanlarda yaşadığı güçlüklerin derecesi de
        artmaktadır.</i
      >
    </p>

    <h3>PROGRAMIN DÜZEYİ</h3>
    <hr />
    <p>
      Program, kavramsal, sosyal ve pratik uyum becerilerinde eksiklikleri ya da
      sınırlılıkları olan, bu özellikleri 18 yaşından önceki gelişim döneminde
      ortaya çıkan ve özel eğitim ile destek eğitim hizmetlerine ihtiyaç duyan
      zihinsel yetersizliği olan her yaştaki bireylerin özellikleri dikkate
      alınarak hazırlanmıştır.
    </p>
    <h4></h4>
    <br />
    <p>Bu program ile bireylerin;</p>
    <ol>
      <li>Bağımsız yaşam becerileri kazanmaları,</li>
      <li>Öz bakım ve günlük yaşam becerilerini kazanmaları,</li>
      <li>Psikomotor becerilerini geliştirmeleri,</li>
      <li>Dil ve konuşma becerilerini geliştirmeleri,</li>
      <li>Sözlü ve yazılı anlatım becerilerini geliştirmeleri,</li>
      <li>Sosyal ve toplumsal uyum becerilerini geliştirmeleri,</li>
      <li>Bilişsel hazırlık becerilerini geliştirmeleri,</li>
    </ol>
    <p>beklenmektedir.</p>

    <h3>PROGRAM İLE İLGİLİ AÇIKLAMALAR</h3>
    <br />
    <ol>
      <li>
        Modüllerde yer alan kazanımlar, zihinsel yetersizliği olan bireylerin
        (hafif, orta, ağır) özellikleri (dil, bilişsel, sosyal vb.) dikkate
        alınarak destek eğitim programının genel amaçlarına ulaşmayı sağlayacak
        nitelikte belirlenmiştir.
      </li>
      <li>
        Birden fazla yetersizliği olan bireylerin sağlık kurulu raporunda
        belirtilmiş olan diğer yetersizlikleri de göz önünde bulundurularak
        uygun modül veya modüller önerilmelidir. Örneğin, bir bireyin zihinsel
        yetersizliği ile birlikte görme ve ortopedik yetersizliği bulunabilir.
        Modül seçiminde zihinsel yetersizliğinin yanı sıra tespit edilen görme
        ve ortopedik yetersizliği olan bireyler için hazırlanmış olan modüller
        de önerilmeli ve bu modüller dikkate alınarak bireyselleştirilmiş eğitim
        programı hazırlanmalıdır.
      </li>
      <li>
        Modüllerde yer alan kazanımların gerçekleşebilmesi için öğrenme ve
        öğretme sürecinde gerekli araç gereç ve donanımlar sağlanmalıdır.
      </li>
      <li>
        Destek eğitim programının verimliliğini artırmak amacıyla modüllerde yer
        alan kazanımların yapılandırılmış ortamların yanı sıra gerçek ortamlarda
        da öğretimi yapılmalıdır.
      </li>
      <li>
        Destek eğitimi veren kurum; rehberlik ve araştırma merkezi, varsa devam
        ettiği okul (eğitim uygulama okulu, özel eğitim ilköğretim okulu,
        hastane okulu, ilköğretim okulu vb.) ya da kurumlar (SHÇEK vb.) ile iş
        birliği yapmalıdır. Bireysel eğitim programı doğrultusunda yapılacak
        çalışmalar ve öneriler konusunda, varsa devam ettiği kurum /okul
        personeli (sınıf öğretmeni, rehber öğretmen, özel eğitim öğretmeni,
        branş öğretmeni, kurum psikoloğu, çocuk gelişim öğretmeni, sosyal hizmet
        uzmanı vb.) ile görüş alışverişi yapılarak bireyin gelişimi ve takibi
        desteklenmelidir.
      </li>
      <li>
        Destek eğitim merkezlerinde görev yapan meslek elemanları kendi görev
        alanlarındaki yetki ve sorumlulukları doğrultusunda hareket ederek ekip
        çalışmasına özen göstermelidir.
      </li>
      <li>
        Destek eğitimi alan bireyin eğitim sürecinde edindiği kazanımların
        sosyal yaşama geçişinin ve yaşantı zenginliğinin sağlanması için çevresi
        ile iletişimde bulunacağı oyun, drama, tiyatro, gezi, spor, müzik,
        izcilik vb. etkinliklere eğitim öğretim sürecinde yer verilmelidir.
      </li>
      <li>
        Programı uygulayan personel tarafından destek eğitim programı kapsamında
        uzman desteği alınabilir. Özel özel eğitim merkezleri gereken zamanlarda
        diyetisyen, tıp doktorlarından, dil konuşma terapistlerinden danışmanlık
        hizmeti alabilir.
      </li>

      <li>
        Öğrenimleri sırasında hedeflere ulaşmaları ve başarı duygusunu
        yaşamaları zihinsel yetersizliği olan bireyler için önemlidir.
        Etkinlikler, eğitim araç ve gereçleri bireyin gelişimsel özelliğine ve
        ilgisine uygun olarak, kolaydan zora doğru hazırlanmalıdır. Etkinliklere
        başlarken bireyin dikkatini toplamaya yönelik giriş yapılmalıdır. Eğitim
        sırasında hangi konuların işleneceği bireye açıklanmalı, etkinlikler
        arasında kısa molalar verilecek şekilde plan yapılmalıdır. Bireylerin
        olumlu davranışları pekiştirilmeli, motivasyonları arttırılmalı ve
        ilgilerini desteklemek amacıyla yaş ve düzeylerine uygun pekiştireçler
        verilmelidir. Etkinliklerin süresi bireyin özellikleri dikkate alınarak
        belirlenmeli ve bireylerin kendi hatalarını kendilerinin bulmasına
        olanak verilmelidir.
      </li>
      <li>
        Otuz altı aydan küçük zihinsel yetersizliği olan çocuklar bu modüllerden
        bireysel eğitim ve aile eğitim programları doğrultusunda yararlanırlar.
        Zihinsel yetersizliği olan bireylerin eğitiminde 0–3 yaş döneminin en
        kritik dönem olması nedeniyle ve özel eğitimde “erkenlik ilkesi”
        doğrultusunda ailenin, eğitimin her aşamasına aktif olarak katılımının
        sağlanması gerekir. Bu nedenle ailenin modülllerde yer alan kazanımların
        gerçekleştirme sürecine eş zamanlı olarak katılımı sağlanmalıdır. 36
        aydan büyük zihinsel yetersizliği olan bireyler, bireysel eğitim ve grup
        eğitiminden yararlanabilirler.
      </li>
      <li>
        “Bilişsel Becerilere Hazırlık” modülü ağır ve orta düzeyde zihinsel
        yetersizliği olup daha önce özel eğitim hizmeti almamış ve akademik
        becerileri içeren modüllerden herhangi birisini alamayacak durumda olan
        bireyleri ve 36–72 ay grubunda yer alan zihinsel yetersizliği olan
        çocukları kapsamaktadır. Diğer modüller zihinsel yetersizliği olan tüm
        bireyleri kapsamaktadır.
      </li>
      <li>
        Modülde yer alan kazanımlar edinim, akıcılık, kalıcılık ve genelleme
        aşamaları dikkate alınarak çalışılmalıdır.
      </li>
      <li>
        Bireyselleştirilmiş eğitim programı hazırlanırken “kaynaştırma kararı”
        alınan ve destek eğitime devam eden zihinsel yetersizliği olan bireyler
        için kaynaştırma eğitimi süresi boyunca devam ettiği okulda uygulanan
        eğitim programı dikkate alınarak yeni kazanımlar eklenebilir.
      </li>
      <li>
        Bireyselleştirilmiş eğitim programını hazırlayan kurulda yer alan
        öğretmen veya uygulayıcı kazanıma yönelik uygun ölçüt belirlemelidir.
      </li>
      <li>
        Zorunlu öğrenim çağı dışındaki zihinsel yetersizliği olan bireyler,
        toplumsal uyum, iş ve meslek becerilerini kazanması amacı ile iş eğitim
        merkezlerine, mesleki rehabilitasyon merkezlerine veya halk eğitim
        merkezleri bünyesinde açılacak kurslara da yönlendirilebilir.
      </li>
    </ol>
  </div>

  <%- include("partials/footer") -%>
</div>
